@use '../../../../styles/mixins.scss';
@use '../../../../styles/breakpoints.scss';
@use '../../../../styles/family.scss';

.component {
	padding: 28px 20px;
	border-top: 1px solid rgba(79, 78, 78, 0.15);
	position: relative;

	@include mixins.media-w(breakpoints.$tablet) {
		padding-left: 0;
		padding-right: 0;
	}
}

.title {
	@include mixins.fonts(family.$source-sans-pro, 300);
	font-size: 36px;
	line-height: 120%;
	color: #004275;
	text-align: center;

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 28px;
	}

	@include mixins.media-w(breakpoints.$tablet-s) {
		font-size: 22px;
	}
}

.subtitle {
	display: block;
	font-size: 20px;
	line-height: 120%;
	color: #4F4E4E;
	text-align: center;

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 16px;
	}
}

.swiper {
	@include mixins.fluidMaxSize(910);
	margin: 20px auto 0;

	@include mixins.media-w(breakpoints.$laptop-s) {
		@include mixins.fluidMaxSize(700);
	}

	@include mixins.media-w(breakpoints.$laptop) {
		@include mixins.fluidMaxSize(840);
		padding-left: 70px;
		padding-right: 70px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		@include mixins.fluidMaxSize(680);
		padding-left: 40px;
		padding-right: 40px;
	}


	&>div {
		align-items: center !important;
	}
}

.pagination {
	@include mixins.flex-center;
	margin-top: 20px;
}

.bullet {
	display: block;
	@include mixins.square-size(11);
	background: rgba(217, 217, 217, 0.5);
	border-radius: 50%;
	margin-right: 4px;

	&:last-child {
		margin-right: 0;
	}

	&.active {
		background: rgba(217, 217, 217, 0.9);
	}
}

.swiperButton::before {
	top: 45% !important;

	@include mixins.media-w(breakpoints.$tablet) {
		width: 10px !important;
		height: 16px !important;
	}
}
