@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';
@use '../../../styles/colors.scss';

.component {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	height: 100%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	min-height: 470px;
}

.imageWrapper {
	width: 100%;
	height: 310px;

	@include mixins.media-w(breakpoints.$laptop-s) {
		height: 250px;
	}
}

.logo {
	margin-bottom: 0;
}

.image {
	height: 100%;
}

.body {
	width: 100%;
	padding: 6px 20px 26px;

	@include mixins.media-w(breakpoints.$laptop-l) {
		padding-bottom: 15px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		padding: 6px 20px 20px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		padding-bottom: 12px;
	}
}

.row {
	width: 100%;
	@include mixins.flex-spb;

	@include mixins.media-w(breakpoints.$tablet) {
		padding-bottom: 6px;
	}
}

.title {
	display: block;
	font-size: 19px;
	line-height: 110%;
	text-align: left;
	color: colors.$blue;
	padding-top: 8px;
	padding-bottom: 8px;
}

.logo {
	margin-left: 10px;
	max-width: 160px;

	@include mixins.media-w(breakpoints.$laptop-s) {
		max-width: 120px;
	}

	img {
		display: block;
	}
}

.fleetCompany {
	display: block;
	font-size: 12px;
	line-height: 110%;
	font-weight: 700;
	color: #4F4E4E;
	padding-bottom: 6px;
}

.subtitle {
	font-size: 12px;
	line-height: 130%;
	font-weight: 500;
	color: #4F4E4E;
	padding-bottom: 8px;

	@include mixins.media-w(breakpoints.$tablet) {
		padding-bottom: 12px;
	}
}

.tags {
	display: block;
	font-size: 12px;
	line-height: 110%;
	font-style: italic;
	color: colors.$blue;
}

.buttonWrapper {
	display: flex;
	width: 100%;
	margin-top: auto;

	@include mixins.media-w(breakpoints.$tablet) {
		padding: 0 12px 12px;
	}
}

.button {
	display: block;
	width: 50%;
	padding: 18px 6px;
	background-color: colors.$btn-hover;
	font-size: 17px;
	line-height: 110%;
	text-align: center;
	color: colors.$white;
	border: 1px solid colors.$transparent;
	text-transform: uppercase;

	@include mixins.media-w(breakpoints.$laptop-s) {
		padding: 14px 4px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 12px;
		padding-top: 18px;
		padding-bottom: 18px;
	}

	&:first-child {
		margin-right: 6px;
		background-color: colors.$transparent;
		border: 1px solid colors.$btn-border;
		color: colors.$btn-text;
	}
}