@use '../../../../../../styles/mixins.scss';
@use '../../../../../../styles/breakpoints.scss';

.includedItem {
	width: 60px;

	@include mixins.media-w(breakpoints.$laptop) {
		width: 45px;
	}
}

.includedIcon {
	@include mixins.square-size(60);

	@include mixins.media-w(breakpoints.$laptop) {
		@include mixins.square-size(45);
	}
}

.column {
	flex-direction: column;
	align-items: flex-start;

	@include mixins.media-w(breakpoints.$laptop) {
		align-items: flex-end;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		align-items: flex-start
	}
}

.rowButtons {

	@include mixins.media-w(breakpoints.$laptop) {
		@include mixins.fluidMaxSize(400);
	}

	@include mixins.media-w(breakpoints.$tablet) {
		margin: 12px auto 0;
	}
}

.button {
	padding: 18px;

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 15px;
		padding-left: 5px;
		padding-right: 5px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 14px;
		padding-top: 14px;
		padding-bottom: 14px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 12px;
		padding-top: 16px;
		padding-bottom: 16px;
	}

	&:first-child {
		margin-right: 5px;
	}
	&:last-child {
		margin-left: 5px;
	}
}

.price {
	font-size: 61px;
	line-height: 90%;
	color: #FDBB11;

	@include mixins.media-w(breakpoints.$laptop-l) {
		font-size: 52px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 46px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 40px;
		width: 100%;
		text-align: right;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		text-align: center;
	}
}

.priceSpan {
	font-size: 36px;
}

.priceBottomText {
	padding-bottom: 6px;
	color: rgba(79, 78, 78, 0.8);

	@include mixins.media-w(breakpoints.$laptop) {
		padding-bottom: 14px;
	}
}

.priceModalBtn {
	border-radius: 3px;

	@include mixins.media-w(breakpoints.$tablet) {
		border-radius: 0px;
	}
}

.discount {
	@include mixins.media-w(breakpoints.$laptop-s) {
		display: none;
	}
}
