@use '../../../../styles/mixins.scss';
@use '../../../../styles/breakpoints.scss';

.component {
	height: 65vh;
	min-height: 550px;
	max-height: 650px;

	@include mixins.media-h(820){
		min-height: 500px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		min-height: 500px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		min-height: 420px;
		height: 420px;
	}
}

.container {
	height: 100%;
}

.swiper {
	width: 100%;
	height: auto;
}

.slide {
	height: 100%;
	padding: 40px 20px 80px 20px;
	position: relative;

	@include mixins.media-w(breakpoints.$laptop-s) {
		padding-top: 20px;
		padding-bottom: 100px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		padding-top: 40px;
		padding-bottom: 40px;
		min-height: 400px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.swiperArrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100px;
	height: 100%;
	z-index: 1;

	@include mixins.media-w(breakpoints.$laptop-s) {
		width: 50px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		width: 30px;
	}

	&.prev {
		left: 0;

		&::before {
			left: 55px;
			transform: translateY(-50%) rotate(-180deg);

			@include mixins.media-w(breakpoints.$laptop-l) {
				left: 30px;
			}

			@include mixins.media-w(breakpoints.$tablet) {
				left: 10px;
			}
		}
	}

	&.next {
		right: 0;

		&::before {
			right: 55px;

			@include mixins.media-w(breakpoints.$laptop-l) {
				right: 30px;
			}

			@include mixins.media-w(breakpoints.$tablet) {
				right: 10px;
			}

		}
	}

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 13px;
		height: 26px;
		background-image: url('../../../../assets/images/swiper/arrow-white.svg');
		@include mixins.bg-cover;

		@include mixins.media-w(breakpoints.$tablet) {
			width: 8px;
			height: 16px;
		}
	}
}

.imageWrapper {
	width: 100%;
	height: 100%;
	@include mixins.absolute-center;
	z-index: -1;
}

.image {
	height: 100%;
	object-position: top;

	@include mixins.media-w(breakpoints.$laptop-s) {
		object-position: left;
	}
}