@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';

.component {
	position: relative;

	width: 100%;
	height: 100%;
}

.swiperAlignCenter {
	&>div {
		align-items: center;
	}
}

.swiperAlignStretch {
	&>div {
		align-items: stretch;
	}
}

.swiperGrid {
	&>div {
		flex-wrap: wrap;
		row-gap: 30px;

		@include mixins.media-w(1180) {
			flex-wrap: nowrap;
			row-gap: 0;
		}
	}
}

.swiperBoxShadow {
	padding: 0 10px 12px;

	&>div {
		align-items: stretch;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		overflow: visible;

		padding: 0;
	}
}

.swiperIndentMobile {
	@include mixins.media-w(breakpoints.$tablet) {
		padding: 0 10px 12px;
	}
}

.swiperPadding {
	@include mixins.media-w(breakpoints.$tablet) {
		padding: 0 12px 8px;
	}
}

.slide {
	position: relative;

	height: auto;
}

.slideW25 {
	&:nth-child(4n) {
		margin-right: 0 !important;

		@include mixins.media-w(breakpoints.$laptop-s) {
			margin-right: 20px !important;
		}
	}


	@include mixins.media-w(breakpoints.$laptop-s) {
		&:nth-child(3n) {
			margin-right: 0 !important;

			@include mixins.media-w(1180) {
				margin-right: 20px !important;
			}
		}
	}
}

.slideW33 {
	&:nth-child(3n) {
		margin-right: 0 !important;

		@include mixins.media-w(1180) {
			margin-right: 20px !important;
		}
	}
}

.swiperArrow {
	position: absolute;
	z-index: 20;
	top: 50%;

	width: 50px;
	height: 100%;

	transform: translateY(-50%);

	&::before {
		position: absolute;
		left: 50%;

		display: block;

		content: '';
		transform: translateX(-50%);

		@include mixins.bg-cover;
	}

	@include mixins.flex-center;

	@include mixins.media-w(breakpoints.$laptop-l) {
		width: 30px;
	}

	@include mixins.media-w(breakpoints.$tablet-s) {
		width: 20px;
	}
}

.arrowLarge::before {
	width: 13px;
	height: 26px;

	@include mixins.media-w(breakpoints.$tablet) {
		width: 8px;
		height: 16px;
	}
}

.arrowSmall::before {
	width: 8px;
	height: 14px;

	@include mixins.media-w(breakpoints.$tablet) {
		width: 6px;
		height: 12px;
	}
}

.arrowShowOnlyTablet {
	display: none;

	@include mixins.media-w(breakpoints.$tablet) {
		display: block;
	}
}

.arrowWhite::before {
	background-image: url('../../../public/images/swiper/arrow-white.svg');
}

.arrowGray::before {
	background-image: url('../../../public/images/swiper/arrow-gray.svg');
}

.arrowBlue::before {
	background-image: url('../../../public/images/swiper/arrow-blue.svg');
}


.prev {
	left: 0;

	&::before {
		transform: translateX(-50%) rotate(-180deg);
	}
}

.next {
	right: 0;
}

.arrowPrevIndentMobile {
	@include mixins.media-w(breakpoints.$tablet) {
		left: 10px;
	}
}

.arrowNextIndentMobile {
	@include mixins.media-w(breakpoints.$tablet) {
		right: 10px;
	}
}

.pagination {
	margin-top: 20px;

	@include mixins.flex-center;
}

.bullet {
	display: block;

	margin-right: 4px;

	border-radius: 50%;
	background: rgb(217 217 217 / 50%);

	&:last-child {
		margin-right: 0;
	}

	&.active {
		background: rgb(217 217 217 / 90%);
	}

	@include mixins.square-size(11);
}
