{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "rules": {
    "prefer-const": "warn",
    "no-unused-vars": "warn",
    "no-console": "warn",
    "quotes": [
      "warn",
      "single"
    ],
    "jsx-quotes": [
      "warn",
      "prefer-double"
    ],
    "indent": [
      "warn",
      "tab"
    ],
    "max-len": [
      "warn",
      {
        "code": 120
      }
    ],
    "semi": [
      "warn",
      "never"
    ],
    "eol-last": [
      "warn",
      "always"
    ]
  }
}