@use '../../../../../styles/mixins.scss';
@use '../../../../../styles/breakpoints.scss';
@use '../../../../../styles/family.scss';
@use '../../../../../styles/colors.scss';

.swiper {
	width: 100%;

	@include mixins.media-w(breakpoints.$tablet) {
		height: 260px;
	}

	@include mixins.media-w(breakpoints.$tablet-s) {
		height: 230px;
	}
}

.slide {

	img {
		display: block;
		height: 100%;
		cursor: pointer;
	}
}

.swiperArrow {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 100%;
	z-index: 20;

	@include mixins.media-w(breakpoints.$laptop) {
		width: 30px;
	}

	&.prev {
		left: 0px;

		@include mixins.media-w(breakpoints.$laptop-l) {
			left: 0;
		}

		&::before {
			transform: rotate(-180deg);
		}
	}

	&.next {
		right: 0px;

		@include mixins.media-w(breakpoints.$laptop-l) {
			right: 0;
		}
	}

	&::before {
		content: '';
		display: block;
		width: 12px;
		height: 22px;
		background-image: url('../../../../../assets/images/swiper/arrow-white.svg');
		@include mixins.bg-cover;

		@include mixins.media-w(breakpoints.$laptop) {
			width: 8px;
			height: 16px;
		}

		@include mixins.media-w(breakpoints.$tablet) {
			width: 6px;
			height: 12px;
		}
	}
}
