@use '../../../../styles/mixins.scss';
@use '../../../../styles/breakpoints.scss';

.component {
	padding: 20px 20px 30px;

	@include mixins.media-w(breakpoints.$tablet) {
		padding: 20px 0 10px;
	}
}

.row {
	display: flex;
	width: 100%;
	padding-top: 10px;

	@include mixins.media-w(breakpoints.$tablet) {
		flex-direction: column;
		padding-top: 0;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.pt0 {
	padding-top: 0;
}

.alignTop {
	align-items: flex-start;
}

.alignBottom {
	align-items: flex-end;
}

.laptopReverse {
	
	@include mixins.media-w(breakpoints.$laptop) {
		flex-direction: row-reverse;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		flex-direction: row;
	}
}

.colLeft {
	width: 68%;
	padding-right: 10px;
	@include mixins.flex-spb;

	@include mixins.media-w(breakpoints.$laptop) {
		width: 50%;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		width: 100%;
		justify-content: flex-start;
	}
}

.colRight {
	width: 32%;
	display: flex;
	align-items: center;

	@include mixins.media-w(breakpoints.$laptop) {
		width: 50%;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		width: 100%;
		justify-content: flex-start;
	}
}

.laptopFull {

	@include mixins.media-w(breakpoints.$laptop) {
		width: 100%;
		padding: 0;
	}
}

.column {
	flex-direction: column;
	align-items: flex-start;

	@include mixins.media-w(breakpoints.$laptop) {
		align-items: flex-end;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		align-items: flex-start
	}
}

.header {
	width: 100%;
	padding-bottom: 4px;
	@include mixins.flex-spb;
	flex-wrap: wrap;
	row-gap: 5px;

	@include mixins.media-w(breakpoints.$tablet) {
		flex-direction: column;
		align-items: flex-start;
		row-gap: 0px;
		padding-bottom: 5px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.breadcrumb {
	margin-right: 40px;

	@include mixins.media-w(breakpoints.$tablet-s) {
		margin-right: 20px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		margin-right: 0;
		padding-bottom: 6px;
	}
}

.numberCruise {
	font-size: 15px;
	line-height: 110%;
	color: rgba(79, 78, 78, 0.6);

	@include mixins.media-w(breakpoints.$tablet) {
		width: 100%;
    text-align: right;
		font-size: 12px;
	}
}

.title {
	font-size: 27px;
	line-height: 110%;
	color: #004275;

	@include mixins.media-w(breakpoints.$laptop) {
		line-height: 90%;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		width: 100%;
		font-size: 18px;
		text-align: center;
		padding-top: 15px;
		padding-bottom: 10px;
	}
	@include mixins.media-w(breakpoints.$tablet-s) {
		font-size: 12px;
	}
}

.daysWrapper {
	min-width: 105px;
	min-height: 95px;
	margin-right: 15px;

	@include mixins.media-w(breakpoints.$laptop-s) {
		min-width: 80px;
		min-height: 75px;
		margin-right: 10px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		min-width: 70px;
		min-height: 65px;
		margin-right: 0px;
		margin-left: 30px;
	}
}

.datesText {
	font-size: 32px;

	@include mixins.media-w(breakpoints.$laptop-l) {
		font-size: 26px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 21px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 12px;
	}
}

.datesArrow {
	width: 22px;

	@include mixins.media-w(breakpoints.$laptop-l) {
		width: 18px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		width: 15px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		width: 10px;
	}
}

.logo {

	@include mixins.media-w(breakpoints.$laptop) {
		@include mixins.fluidMaxSize(180);
	}

	@include mixins.media-w(breakpoints.$tablet) {
		@include mixins.fluidMaxSize(140);
		margin: 10px auto 0;
	}
}

.shipWrapper {

	@include mixins.media-w(breakpoints.$tablet) {
		margin-bottom: 10px;
	}
}

.shipName {
	font-size: 32px;
	font-weight: 600;

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 28px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 22px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-weight: 500;
		font-size: 12px;
	}
}

.includedItem {
	width: 60px;

	@include mixins.media-w(breakpoints.$laptop) {
		width: 45px;
	}
}

.includedIcon {
	@include mixins.square-size(60);

	@include mixins.media-w(breakpoints.$laptop) {
		@include mixins.square-size(45);
	}
}

.rowButtons {

	@include mixins.media-w(breakpoints.$laptop) {
		@include mixins.fluidMaxSize(400);
	}

	@include mixins.media-w(breakpoints.$tablet) {
		margin: 12px auto 0;
	}
}

.button {
	padding: 18px;

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 15px;
		padding-left: 5px;
		padding-right: 5px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 14px;
		padding-top: 14px;
		padding-bottom: 14px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 12px;
		padding-top: 16px;
		padding-bottom: 16px;
	}

	&:first-child {
		margin-right: 5px;
	}
	&:last-child {
		margin-left: 5px;
	}
}

.price {
	font-size: 61px;
	line-height: 90%;
	color: #FDBB11;

	@include mixins.media-w(breakpoints.$laptop-l) {
		font-size: 52px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 46px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 40px;
		width: 100%;
		text-align: right;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		text-align: center;
	}
}

.priceSpan {
	font-size: 36px;
}

.priceBottomText {
	padding-bottom: 6px;
	color: rgba(79, 78, 78, 0.8);

	@include mixins.media-w(breakpoints.$laptop) {
		padding-bottom: 14px;
	}
}

.priceModalBtn {
	border-radius: 3px;

	@include mixins.media-w(breakpoints.$tablet) {
		border-radius: 0px;
	}
}

.discount {
	@include mixins.media-w(breakpoints.$laptop-s) {
		display: none;
	}
}

.routeWrapper {

	@include mixins.media-w(breakpoints.$tablet) {
		margin-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
