@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';
@use '../../../styles/colors.scss';

.component {
	width: 100%;
}

.galley {
	display: flex;
	height: 600px;
}

.left {
	width: 68%;
	height: 100%;
	padding-right: 10px;
}

.right {
	width: 32%;
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	height: 100%;

	& .imgWrapper {
		width: 100%;
		max-height: 295px;
	}
}

.imgWrapper {
	position: relative;

	img {
		height: 100%;
	}
}

.button {
	min-width: 160px;
	padding: 10px 20px;
	font-size: 15px;
	line-height: 140%;
	letter-spacing: 0.05em;
	color: #004A76;
	text-transform: uppercase;
	position: absolute;
	bottom: 10px;
	right: 10px;
	background-color: colors.$white;
}
