@use '../../../../styles/mixins.scss';
@use '../../../../styles/breakpoints.scss';
@use '../../../../styles/family.scss';
@use '../../../../styles/colors.scss';

.component {
	padding-top: 30px;
	padding-bottom: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	@include mixins.media-w(breakpoints.$laptop) {
		padding-top: 12px;
		padding-bottom: 12px;
	}
}

.title {
	width: 100%;
	@include mixins.fonts(family.$source-sans-pro);
	font-size: 46px;
	line-height: 110%;
	color: colors.$blue;
	text-align: center;
	padding-bottom: 14px;

	@include mixins.media-w(breakpoints.$laptop-l) {
		font-size: 34px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 32px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 24px;
		padding-bottom: 10px;
	}
}