@use '../../../../../styles/mixins.scss';
@use '../../../../../styles/breakpoints.scss';

.component {
	width: 100%;

	img {
		display: block;

		height: 100%;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		height: 260px;
	}

	@include mixins.media-w(breakpoints.$tablet-s) {
		height: 230px;
	}
}
