@use '../../styles/mixins.scss';
@use '../../styles/breakpoints.scss';
@use '../../styles/family.scss';

.title {
	@include mixins.fonts(family.$source-sans-pro);
	font-size: 30px;
	line-height: 110%;
	color: rgba(0, 66, 117, 0.55);
	padding-bottom: 25px;

	@include mixins.media-w(breakpoints.$laptop-l) {
		padding-bottom: 15px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 24px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 20px;
		padding-bottom: 10px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 24px;
	}
}

.accordion {
	width: 100%;
}

.accordionItem {
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}
}

.accordionTitle {
	display: flex;
	align-items: center;
	@include mixins.fonts(family.$source-sans-pro);
	font-size: 28px;
	line-height: 110%;
	color: #4F4E4E;
}

.accordionArrow {
	display: block;
	width: 22px;
	margin-left: 20px;

	&.active {
		transform: rotate(-180deg);
	}
}

.accordionSubtitle {
	font-size: 16px;
	line-height: 110%;
	color: rgba(#4F4E4E, .6);
}
