@use '../../../../styles/mixins.scss';
@use '../../../../styles/breakpoints.scss';
@use '../../../../styles/family.scss';
@use '../../../../styles/colors.scss';

.component {
	padding: 30px 12px 40px;
	background-color: #EFEFEF;

	@include mixins.media-w(breakpoints.$tablet) {
		padding-top: 12px;
		padding-bottom: 16px;
	}
}

.title {
	width: 100%;
	@include mixins.fonts(family.$source-sans-pro);
	font-size: 46px;
	line-height: 110%;
	color: #004275;
	padding-bottom: 12px;

	@include mixins.media-w(breakpoints.$laptop-l) {
		font-size: 36px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 24px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 20px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 24px;
		padding-bottom: 18px;
	}
}

.tabsHeader {
	justify-content: center;
}

.tabsTitle {
	min-width: 140px;
	@include mixins.fonts(family.$source-sans-pro);
	font-size: 15px;
	line-height: 140%;
	letter-spacing: 0.05em;
	color: colors.$white;
	text-align: center;
	padding: 8px 6px;
	margin-right: 5px;

	&:last-child {
		margin-right: 0;
	}
}

.tabsBody {
	position: relative;
	@include mixins.fluidMaxSize(900);
	margin: 0 auto;

	@include mixins.media-w(breakpoints.$laptop) {
		max-width: 750px;
	}
	
}
