@use '../../../../styles/mixins.scss';
@use '../../../../styles/breakpoints.scss';
@use '../../../../styles/family.scss';

.component {
	padding: 35px 20px;
	border-top: 1px solid rgba(79, 78, 78, 0.4);

	@include mixins.media-w(breakpoints.$laptop-s) {
		padding-top: 25px;
		padding-bottom: 25px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		padding: 10px 35px 6px;
	}
}

.container {
	@include mixins.flex-center;
	flex-direction: column;
	@include mixins.fluidMaxSize(680);
	margin: 0 auto;

	@include mixins.media-w(breakpoints.$laptop) {
		@include mixins.fluidMaxSize(480);
	}
}

.title {
	@include mixins.fonts(family.$source-sans-pro);
	font-size: 30px;
	line-height: 110%;
	color: rgba(0, 66, 117, 0.55);
	padding-bottom: 25px;

	@include mixins.media-w(breakpoints.$laptop-l) {
		padding-bottom: 15px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 24px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 20px;
		padding-bottom: 10px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 24px;
		white-space: nowrap;
	}
}

.accordionItem {
	margin-bottom: 10px;

	@include mixins.media-w(breakpoints.$tablet) {
		margin-bottom: 6px;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.accordionTitle {
	display: flex;
	align-items: center;
	@include mixins.fonts(family.$source-sans-pro);
	font-size: 28px;
	line-height: 110%;
	color: #4F4E4E;

	@include mixins.media-w(breakpoints.$laptop-l) {
		font-size: 24px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 22px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 16px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 13px;
	}
}

.accordionArrow {
	display: block;
	width: 22px;
	margin-left: 20px;

	@include mixins.media-w(breakpoints.$laptop-l) {
		width: 18px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		width: 14px;
		margin-left: 12px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		width: 10px;
		margin-left: 6px;
	}
}

.accordionSubtitle {
	@include mixins.fonts(family.$source-sans-pro);
	font-size: 20px;
	line-height: 110%;
	color: rgba(79, 78, 78, 0.8);
	padding-top: 5px;

	@include mixins.media-w(breakpoints.$laptop-l) {
		font-size: 16px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 14px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 11px;
	}
}
