@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';
@use '../../../styles/colors.scss';

.component {
	display: flex;
	justify-content: center;
}

.item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.number {
	font-weight: 500;
	font-size: 36px;
	line-height: 100%;
	color: colors.$white;
	padding-bottom: 4px;

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 28px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 24px;
		padding-bottom: 2px;
	}
}

.text {
	font-weight: 500;
	font-size: 14px;
	line-height: 100%;
	color: colors.$white;

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 9px;
	}
}

.dots {
	@extend .number;
	margin-left: 8px;
	margin-right: 8px;

	@include mixins.media-w(breakpoints.$laptop-s) {
		margin-left: 6px;
		margin-right: 6px;
	}
}