@use '../../../../../styles/mixins.scss';
@use '../../../../../styles/breakpoints.scss';
@use '../../../../../styles/family.scss';
@use '../../../../../styles/colors.scss';

.title {
	@include mixins.fonts(family.$source-sans-pro);
	font-size: 32px;
	line-height: 120%;
	color: colors.$blue;
	text-transform: uppercase;
	padding-bottom: 12px;

	@include mixins.media-w(breakpoints.$laptop-l) {
		font-size: 26px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 22px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 16px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		width: 100%;
		font-size: 14px;
		padding-bottom: 8px;
		text-align: center
	}
}

.desc {
	@include mixins.fonts(family.$source-sans-pro);
	font-size: 25px;
	line-height: 120%;
	text-align: justify;
	color: rgba(79, 78, 78, 0.8);
	text-indent: 3rem;

	@include mixins.media-w(breakpoints.$laptop-l) {
		font-size: 20px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 14px;
		text-indent: 2rem;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 13px;
	}
}

.button {
	@include mixins.fonts(family.$source-sans-pro);
	font-size: 15px;
	line-height: 100%;
	letter-spacing: 0.05em;
	color: rgba(79, 78, 78, 0.8);
	padding: 5px 25px;
	margin-top: 10px;
	margin-left: 10px;
	background: colors.$white;
	border: 0.5px solid rgba(79, 78, 78, 0.8);
	border-radius: 3px;

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 14px;
		padding-left: 15px;
		padding-right: 15px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		margin-left: 0;
		margin-top: 8px;
		font-size: 12px;
	}
}