@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';
@use '../../../styles/family.scss';
@use '../../../styles/colors.scss';

.component {
	background-color: #013C5E;
	padding: 40px 20px;
}

.container {
	@include mixins.media-w(breakpoints.$laptop) {
		flex-wrap: wrap;
		justify-content: center;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 20%;

	@include mixins.media-w(breakpoints.$laptop) {
		width: 40%;

		&:nth-child(odd) {
			margin-right: 60px;
		}
		&:first-child {
			margin-bottom: 40px;
		}
		&:nth-child(2) {
			margin-bottom: 40px;
		}
	}

	@include mixins.media-w(breakpoints.$tablet) {
		width: 45%;

		&:nth-child(odd) {
			margin-right: 30px;
		}
		&:first-child {
			margin-bottom: 20px;
		}
		&:nth-child(2) {
			margin-bottom: 20px;
		}
	}
}

.icon {
	@include mixins.square-size(60);
	margin-bottom: 18px;

	@include mixins.media-w(breakpoints.$tablet) {
		@include mixins.square-size(50);
		margin-bottom: 10px;
	}
}

.title {
	@include mixins.fonts(family.$source-sans-pro, 300);
	font-size: 32px;
	line-height: 120%;
	color: colors.$white;
	text-transform: uppercase;
	padding-bottom: 18px;
	text-align: center;

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 26px;
		padding-bottom: 2px;
	}
	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 18px;
	}
}

.description {
	@include mixins.fonts(family.$source-sans-pro, 300);
	font-size: 18px;
	line-height: 120%;
	text-transform: uppercase;
	color: colors.$white;
	text-align: center;

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 16px;
	}
	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 12px;
	}
}
