@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';

.component {
	display: flex;
}

.icon {
	display: block;
	min-width: 22px;
	margin-right: 20px;

	@include mixins.media-w(breakpoints.$laptop) {
		margin-right: 15px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		max-width: 12px;
		min-width: 12px;
	}

	img {
		display: block;
		width: auto;
		margin: 0 auto;

		@include mixins.media-w(breakpoints.$tablet) {
			width: 100%;
		}
	}
}

.container {
	display: flex;
	flex-wrap: wrap;
	padding-top: 5px;

	@include mixins.media-w(breakpoints.$tablet) {
		padding-top: 0;
	}
}

.item {
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
	color: #4F4E4E;

	@include mixins.media-w(breakpoints.$laptop-l) {
		font-size: 16px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 14px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 12px;
	}
}

.item:last-child .slash {
	display: none;
}
