@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';

.component {
	display: flex;
	position: relative;
}

.icon {
	display: block;
	min-width: 22px;
	margin-right: 20px;

	@include mixins.media-w(breakpoints.$laptop) {
		margin-right: 15px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		max-width: 12px;
		min-width: 12px;
	}

	img {
		display: block;
		width: auto;
		margin: 0 auto;

		@include mixins.media-w(breakpoints.$tablet) {
			width: 100%;
		}
	}
}

.container {
	display: flex;
	flex-wrap: wrap;
	padding-top: 5px;
	cursor: pointer;

	@include mixins.media-w(breakpoints.$tablet) {
		padding-top: 0;
	}
}

.item {
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
	color: #4F4E4E;

	@include mixins.media-w(breakpoints.$laptop-l) {
		font-size: 16px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 14px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 12px;
	}

	&::after {
		content: "/"; 
	}

	&:last-child::before {
		display: none;
	}
}

.tooltip {
	top: 30% !important;
	@include mixins.fluidMaxSize(360);
	max-height: 156px;

	@include mixins.media-w(breakpoints.$laptop-s) {
		@include mixins.fluidMaxSize(420);
		max-height: 128px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
    left: 20px !important;
	}

	@include mixins.media-w(breakpoints.$tablet-s) {
    @include mixins.fluidMaxSize(260);
		max-height: 92px;
	}
}

.tooltipText {
	border-bottom: none;
}
