@use '../../../../styles/mixins.scss';
@use '../../../../styles/colors.scss';
@use '../../../../styles/breakpoints.scss';

.component {
	position: relative;
	padding: 40px 20px 30px 20px;
}

.bg {
	width: 100%;
	height: 100%;
	@include mixins.absolute-center;
	z-index: -1;
}

.image {
	height: 100%;
	object-position: center;
}

.container {
	@include mixins.fluidMaxSize(800);
	margin: 0 auto;
	@include mixins.flex-center;
	flex-direction: column;

	@include mixins.media-w(breakpoints.$laptop-s) {
		@include mixins.fluidMaxSize(700);
	}
}

.text {
	font-size: 24px;
	line-height: 120%;
	color: colors.$white;
	padding-bottom: 18px;
	text-transform: uppercase;
	text-align: center;

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 18px;
		padding-bottom: 12px;
	}
	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 14px;
		padding-bottom: 4px;
	}
}

.title {
	font-size: 36px;
	font-weight: 600;
	line-height: 120%;
	color: colors.$white;
	padding-bottom: 22px;
	text-transform: uppercase;
	text-align: center;

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 26px;
		padding-bottom: 18px;
	}
	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 20px;
	}
}

.form {
	width: 100%;
	display: flex;
	align-items: stretch;
	border: 3px solid colors.$white;
	filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.1));
	border-radius: 5px;

	@include mixins.media-w(breakpoints.$tablet-s) {
		flex-direction: column;
		border: none;
	}
}

.inputWrapper {
	width: 100%;
	background-color: colors.$white;
}

.input {
	width: 100%;
	height: 100%;
	font-size: 22px;
	color: colors.$black;
	padding: 8px 14px;

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 18px;
	}
	@include mixins.media-w(breakpoints.$tablet-s) {
		min-height: 47px;
	}
}

.button {
	font-weight: 700;
	font-size: 16px;
	line-height: 120%;
	color: colors.$white;
	padding: 22px 38px 22px 50px;
	background-color: colors.$transparent;

	@include mixins.media-w(breakpoints.$laptop-s) {
		padding-top: 18px;
		padding-bottom: 18px;
	}
	@include mixins.media-w(breakpoints.$tablet-s) {
		border: 2px solid colors.$white;
		padding-top: 16px;
		padding-bottom: 12px;
	}
}

.footnote {
	font-size: 20px;
	line-height: 120%;
	color: colors.$white;
	padding-top: 12px;
	text-transform: uppercase;
	text-align: center;

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 14px;
		padding-top: 24px;
	}
	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 12px;
	}
}