@use '../../../../../../styles/mixins.scss';
@use '../../../../../../styles/breakpoints.scss';

.laptopFull {
	@include mixins.media-w(breakpoints.$laptop) {
		width: 100%;
		padding: 0;
	}
}

.logo {
	@include mixins.media-w(breakpoints.$laptop) {
		@include mixins.fluidMaxSize(180);
	}

	@include mixins.media-w(breakpoints.$tablet) {
		margin: 10px auto 0;

		@include mixins.fluidMaxSize(140);
	}
}

.shipWrapper {
	@include mixins.media-w(breakpoints.$tablet) {
		margin-bottom: 10px;
	}
}

.shipName {
	font-size: 32px;
	font-weight: 600;

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 28px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 22px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 12px;
		font-weight: 500;
	}
}
