@use '../../../../styles/mixins.scss';
@use '../../../../styles/breakpoints.scss';
@use '../../../../styles/colors.scss';

.component {
	min-height: 295px;
	padding: 60px 20px;

	background-color: colors.$blue;
	box-shadow: 0 4px 4px rgb(0 0 0 / 25%);

	@include mixins.media-w(breakpoints.$laptop-l) {
		min-height: auto;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		min-height: auto;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.container {
	@include mixins.media-w(breakpoints.$tablet-s) {
		flex-direction: column;
	}
}