@use '../../../../styles/mixins.scss';
@use '../../../../styles/breakpoints.scss';
@use '../../../../styles/family.scss';

.component {
	border-top: 1px solid rgba(79, 78, 78, 0.4);
}

.contentWrapper {
	padding: 0 20px 26px;

	@include mixins.media-w(breakpoints.$laptop-s) {
		padding-bottom: 20px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		padding-bottom: 8px;
	}
}

.text {
	@include mixins.fonts(family.$source-sans-pro);
	font-size: 25px;
	line-height: 110%;
	text-align: center;
	color: rgba(79, 78, 78, 0.8);
	padding-bottom: 30px;

	@include mixins.media-w(breakpoints.$laptop-l) {
		font-size: 22px;
		padding-bottom: 25px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 20px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 18px;
		padding-bottom: 20px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 14px;
		padding-bottom: 14px;
	}

	@include mixins.media-w(breakpoints.$tablet-s) {
		font-size: 12px;
	}

	&:last-child {
		padding-bottom: 0;
	}
}

.link {
	@extend .text;
	font-weight: 700;

	@include mixins.media-minw(breakpoints.$laptop) {
		&:hover {
			text-decoration: underline;
		}
	}
}
