@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';
@use '../../../styles/family.scss';
@use '../../../styles/colors.scss';

.component {
	display: flex;
	align-items: center;
	width: 100%;

	@include mixins.media-w(breakpoints.$tablet) {
		overflow: scroll;
		-ms-overflow-style: none;
		overflow: -moz-scrollbars-none;
		scrollbar-width: none;
	}

	&::-webkit-scrollbar {
		display: none;
		width: 0;
		height: 0;
		opacity: 0;
		background-color: transparent;
	}
}

.item {
	margin-right: 20px;
}

.link {
	display: flex;
	align-items: center;
	@include mixins.fonts(family.$source-sans-pro, 600);
	font-size: 16px;
	line-height: 110%;
	color: colors.$yellow;
	transition: text-shadow .3s;

	@include mixins.media-minw(breakpoints.$laptop) {
		&:hover {
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		}
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 15px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 14px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 13px;
		white-space: nowrap;
	}
}

.text {
	display: block;
	border-bottom: 1px solid colors.$yellow;
	padding-bottom: 8px;

	@include mixins.media-w(breakpoints.$laptop-s) {
		padding-bottom: 4px;
	}
}

.arrow {
	display: block;
	font-size: 16px;
	line-height: 110%;
	margin-left: 4px;
	width: 10px;
	margin-bottom: 10px;

	@include mixins.media-w(breakpoints.$laptop-s) {
		margin-bottom: 6px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 13px;
		width: 8px;
	}

	img {
		display: block;
	}
}