@use '../../../../styles/mixins.scss';
@use '../../../../styles/breakpoints.scss';
@use '../../../../styles/colors.scss';
@use '../../../../styles/family.scss';
@use '../../../../styles/z-index.scss';

.component {
  margin-top: 16px;
}

.container {
  transition: all 0.5s;
  padding: 12px 20px;
  background-color: colors.$white;

  @include mixins.media-w(breakpoints.$tablet) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.fixed {
  position: fixed;
  top: -100%;
  left: 0;
  z-index: z-index.$idx-header;

  &.show {
    top: 0;
  }

  & .form {
    @include mixins.media-w(breakpoints.$laptop-l) {
      @include mixins.fluidMaxSize(960);
    }
  }

  & .button {
    background-color: colors.$transparent;
    border: 1px solid colors.$blue;
    color: colors.$blue;
  }
}

.form {
  @include mixins.flex-spb;
  @include mixins.fluidMaxSize(1140);
  margin: 0 auto;

  @include mixins.media-w(breakpoints.$laptop) {
    @include mixins.fluidMaxSize(740);
    flex-wrap: wrap;
  }

  @include mixins.media-w(breakpoints.$tablet) {
    flex-direction: column;
  }
}

.button {
  padding: 17px 43px;
  font-size: 17px;
  line-height: 120%;
  color: colors.$btn-text;
  background-color: colors.$transparent;
  border-radius: 3px;
  border: 1px solid colors.$btn-border;
  text-transform: uppercase;
  white-space: nowrap;

  @include mixins.media-w(breakpoints.$tablet) {
    font-size: 14px;
    padding: 12px 50px;
  }

  @include mixins.media-minw(breakpoints.$laptop) {
    &:hover {
      background-color: colors.$btn-hover;
      color: colors.$white;
    }
  }
}

.col {
  @include mixins.fluidMaxSize(255);
  margin-right: 40px;

  @include mixins.media-w(breakpoints.$laptop) {
    @include mixins.fluidMaxSize(340);
  }

  @include mixins.media-w(breakpoints.$tablet) {
    max-width: 100%;
    margin-bottom: 30px;
    margin-right: 0;
  }

  &:nth-child(even) {
    @include mixins.media-w(breakpoints.$laptop) {
      margin-right: 0;
    }
  }

  &:nth-child(1) {
    @include mixins.media-w(breakpoints.$laptop) {
      margin-bottom: 40px;
    }

    @include mixins.media-w(breakpoints.$tablet) {
      margin-bottom: 30px;
    }
  }

  &:nth-child(2) {
    @include mixins.media-w(breakpoints.$laptop) {
      margin-bottom: 40px;
    }

    @include mixins.media-w(breakpoints.$tablet) {
      margin-bottom: 30px;
    }
  }
}


.logo {
  display: none;
  margin-right: 40px;

  @include mixins.media-w(1900) {
    @include mixins.fluidMaxSize(200);
    margin-right: 20px;
  }

  @include mixins.media-w(breakpoints.$laptop-l) {
    @include mixins.fluidMaxSize(180);
  }

  @include mixins.media-w(breakpoints.$laptop-s) {
    display: none
  }

  &.show {
    display: block;

    @include mixins.media-w(breakpoints.$laptop-s) {
      display: none
    }
  }
}

.phone {
  display: none;
  margin-left: 40px;
  font-size: 37px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: colors.$blue;
  transition: all .4s;

  @include mixins.media-w(1900) {
    font-size: 28px;
    margin-left: 20px;
  }

  @include mixins.media-w(1660) {
    font-size: 0;
    line-height: 0;
    letter-spacing: 0;
    @include mixins.square-size(25);
    min-width: 25px;
    @include mixins.bg-cover;
    background-image: url('./icons/phone.svg');
  }

  @include mixins.media-w(breakpoints.$laptop-s) {
    display: none
  }

  &.show {
    display: block;

    @include mixins.media-w(breakpoints.$laptop-s) {
      display: none
    }
  }
}

.datepickerWrapper {
  border-bottom: 1px solid #4F4E4E !important;

  &::before {
    content: '';
    right: 0;
    width: 18px;
    height: 20px;
    background-image: url('./icons/datepicker.svg');
  }
}

.inputDatepicker {
  padding: 5px 0 10px;

  @include mixins.media-w(breakpoints.$laptop-l) {
    font-size: 20px;
  }
}