@use './z-index.scss';
@use './colors.scss';
@use './family.scss';
@use './mixins.scss';
@use './breakpoints.scss';

@keyframes scaleInDatePicker {
	0% {
		opacity: 0;
		transform: scale(0.9) translate3d(0px, 0px, 0px);
	}

	50% {
		opacity: 0.3;
	}

	100% {
		opacity: 1;
		transform: scale(1) translate3d(0px, 0px, 0px);
	}
}

.react-datepicker-popper {
	inset: 35px auto auto 50% !important;
	transform: translate3d(0, 0, 0) translateX(-50%) !important;
	animation: scaleInDatePicker 0.35s ease-in-out !important;
	z-index: z-index.$datepicker !important;
	width: 100%;
	min-width: 290px;

	@include mixins.media-w(breakpoints.$tablet) {
		min-width: 240px;
		width: auto;
		// transform: translate3d(0, 0, 0) !important;
		// inset: 35px auto auto 20% !important;
 	}
}

.react-datepicker__current-month,
.react-datepicker__day-name {
	text-transform: capitalize;
}

.react-datepicker__triangle,
.react-datepicker__triangle::after,
.react-datepicker__triangle::before {
	left: 50% !important;
	transform: translateX(0%) !important;
}

.react-datepicker {
	width: 100%;
	@include mixins.fonts(family.$montserrat);
	font-size: 12px;
	background-color: colors.$white;
	color: #4F4E4E;
	border: none;
	border-radius: 3px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding-bottom: 10px;

	&__month-container {
		width: 100%;
	}

	&__header {
		background-color: colors.$white;
		border: none;
		border-radius: 0;
		padding: 0;
	}

	&__triangle::before {
		display: none;
	}

	&__triangle::after {
		top: 1px;
		border-bottom-color: #004275 !important;
	}

	&__week {
		margin-top: 10px;

		&:first-child {
			margin-top: 18px;
		}
	}

	&__day {
		width: auto;
		min-width: 24px;
		min-height: 24px;
		line-height: 100%;
		margin: 0;
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}

	&__day-name {
		width: auto;
		min-width: 24px;
		min-height: 24px;
		line-height: 110%;
		margin: 0;
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}

	&__day,
	&__time-name {
		font-size: 12px;
		color: #4F4E4E;
		font-weight: 400;
	}

	&__day--keyboard-selected,
	&__month-text--keyboard-selected,
	&__quarter-text--keyboard-selected,
	&__year-text--keyboard-selected {
		color: #4F4E4E;
		background-color: colors.$transparent;
	}

	&__day--today {
		color: #4F4E4E;
		background-color: colors.$transparent;
	}

	&__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range) {
		background-color: #004275;
		color: colors.$white;
		border-radius: 0;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}

	&__day--selected {
		color: colors.$white;
	}

	&__day--in-range {
		color: colors.$white;
	}

	&__day--range-start,
	&__day--range-end {
		background-color: #004275 !important;
	}

	&__day--in-range {
		background-color: #B2C6D6;
		border-radius: 0;
	}

	&__day--range-start {
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}

	&__day--range-end {
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	&__day--outside-month:not(.react-datepicker__day--in-range) {
		color: rgba(79, 78, 78, 0.4);
	}

	&__day-name {
		font-size: 10px;
		color: rgba(79, 78, 78, 0.8);
		text-transform: uppercase;
	}

	&__day-name:nth-child(6),
	&__day-name:nth-child(7) {
		color: #F3AF0B;
	}

	&__day:hover:not(.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range) {
		border-radius: 3px;
		background-color: #f0f0f0;
	}

	&__day:hover:not(.react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__day--today) {
		border-radius: 3px;
		background-color: #f0f0f0;
	}

	&__day--in-selecting-range:not(.react-datepicker__day--selected) {
		background-color: #B2C6D6;
		border-radius: 0;
	}

	&__day--in-range:hover {
		background-color: #B2C6D6;
		border-radius: 0;
	}

	&__day--range-start:hover {
		background-color: #004275;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}

	&__day--range-end:hover {
		background-color: #004275;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	&__day:focus-visible {
		outline: none;
	}
}