@font-face {
	font-family: 'Montserrat';
	src: url('../assets/fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'),
			url('../assets/fonts/montserrat/Montserrat-SemiBold.woff') format('woff'),
			url('../assets/fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../assets/fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
			url('../assets/fonts/montserrat/Montserrat-Medium.woff') format('woff'),
			url('../assets/fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../assets/fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
			url('../assets/fonts/montserrat/Montserrat-Regular.woff') format('woff'),
			url('../assets/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../assets/fonts/source-sans-pro/SourceSansPro-Light.woff2') format('woff2'),
			url('../assets/fonts/source-sans-pro/SourceSansPro-Light.woff') format('woff'),
			url('../assets/fonts/source-sans-pro/SourceSansPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../assets/fonts/source-sans-pro/SourceSansPro-SemiBold.woff2') format('woff2'),
			url('../assets/fonts/source-sans-pro/SourceSansPro-SemiBold.woff') format('woff'),
			url('../assets/fonts/source-sans-pro/SourceSansPro-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../assets/fonts/source-sans-pro/SourceSansPro-Regular.woff2') format('woff2'),
			url('../assets/fonts/source-sans-pro/SourceSansPro-Regular.woff') format('woff'),
			url('../assets/fonts/source-sans-pro/SourceSansPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Damion';
	src: url('../assets/fonts/damion/Damion.woff2') format('woff2'),
			url('../assets/fonts/damion/Damion.woff') format('woff'),
			url('../assets/fonts/damion/Damion.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Advent Pro';
	src: url('../assets/fonts/advent-pro/AdventPro-SemiBold.woff2') format('woff2'),
			url('../assets/fonts/advent-pro/AdventPro-SemiBold.woff') format('woff'),
			url('../assets/fonts/advent-pro/AdventPro-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Advent Pro';
	src: url('../assets/fonts/advent-pro/AdventPro-Medium.woff2') format('woff2'),
			url('../assets/fonts/advent-pro/AdventPro-Medium.woff') format('woff'),
			url('../assets/fonts/advent-pro/AdventPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

