@use './mixins.scss';
@use './family.scss';
@use './colors.scss';
@use './breakpoints.scss';
@use './z-index.scss';

@keyframes scaleIn {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}

	50% {
		opacity: 0.3;
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.select-default__menu-list--is-multi>div:first-child {
	margin-bottom: 12px !important;
}

.select-default__value-container input {
	position: absolute !important;
}

.select-default {
	&__control {
		min-height: auto !important;
		border: none !important;
		border-radius: 0 !important;
		box-shadow: none !important;
		padding: 5px 0 10px;
		cursor: pointer !important;
		overflow: hidden;
		flex-wrap: nowrap !important;
		width: 100%;
	}

	&__group {
		padding: 0 !important;
	}

	&__group-heading {
		font-size: 70% !important;
	}

	&__value-container {
		padding: 0 !important;
		cursor: pointer !important;
		font-size: 16px !important;
		line-height: 120% !important;
		text-overflow: ellipsis !important;
		white-space: nowrap !important;
		overflow: hidden !important;
		display: initial !important;
		position: relative !important;
	}

	&__single-value {
		line-height: 120%;
		margin: 0 !important;

		@include mixins.media-w(breakpoints.$laptop-l) {
			font-size: 20px;
		}
	}

	&__placeholder {
		line-height: 120%;
		margin: 0 !important;

		@include mixins.media-w(breakpoints.$laptop) {
			font-size: 18px;
		}
	}

	&__input-container {
		margin: 0 !important;
		padding: 0 !important;
		cursor: pointer;
		position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	}

	&__indicators {
		cursor: pointer !important;
	}

	&__clear-indicator {
		display: none;
	}

	&__indicator-separator {
		display: none;
	}

	&__dropdown-indicator {
		margin-right: 0 !important;
		width: 16px;
		height: 10px;
		background-image: url('../assets/images/select/arrow-down-dark.svg');

		@include mixins.media-w(breakpoints.$tablet-s) {
			width: 12px;
		}
	}

	&__indicator {
		padding: 0 5px !important;
		@include mixins.bg-cover;
		margin: 0 10px;

		& svg {
			display: none;
		}
	}

	&__menu {
		background-color: #fff !important;
		color: rgba(white, 0.6) !important;
		animation: scaleIn 0.35s ease-in-out;
		z-index: z-index.$idx-select-menu !important;
		border-radius: 0 !important;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
	}

	&__menu-list {
		max-height: 200px !important;
	}

	&__option {
		cursor: pointer !important;
		color: colors.$black !important;
	}

	&__multi-value {
		background-color: transparent !important;
		margin: 0 !important;
		border-radius: 0 !important;
	}

	&__multi-value__label {
		border-radius: 0 !important;
		line-height: 120% !important;
		padding: 0 !important;
	}

	&__multi-value__remove {
		display: none !important;
	}
}

.select-transparent.select-default {
	&__control {
		background-color: transparent !important;
		border-bottom: 1px solid #4F4E4E !important;
	}

	&__value-container {
		@include mixins.fonts(family.$source-sans-pro, 300);
		color: rgba(79, 78, 78, 0.6) !important;
	}

	&__single-value {
		@include mixins.fonts(family.$source-sans-pro, 300);
		font-size: 24px;
		color: rgba(79, 78, 78, 0.6) !important;

		@include mixins.media-w(breakpoints.$laptop-l) {
			font-size: 20px;
		}
	}

	&__placeholder {
		@include mixins.fonts(family.$source-sans-pro, 300);
		font-size: 16px;
		color: rgba(79, 78, 78, 0.6) !important;
	}

	&__multi-value__label {
		font-size: 16px !important;
		color: rgba(79, 78, 78, 0.6) !important;
	}
}

.select-white.select-default {
	&__control {
		background-color: colors.$white !important;
		border-radius: 3px !important;
		padding: 15px 12px;
	}

	&__value-container {
		font-size: 17px;
		color: rgba(79, 78, 78, 0.6) !important;

		@include mixins.media-w(breakpoints.$tablet) {
			font-size: 14px;
		}
	}

	&__single-value {
		font-size: 17px;
		color: rgba(79, 78, 78, 0.6) !important;

		@include mixins.media-w(breakpoints.$tablet) {
			font-size: 14px;
		}
	}

	&__placeholder {
		font-size: 17px;
		color: rgba(79, 78, 78, 0.6) !important;

		@include mixins.media-w(breakpoints.$tablet) {
			font-size: 14px;
		}
	}

	&__dropdown-indicator {
		color: rgba(79, 78, 78, 0.6) !important;
		padding: 0 !important;
	}

	&__option {
		font-size: 16px !important;

		@include mixins.media-w(breakpoints.$tablet) {
			font-size: 14px !important;
		}
	}

	&__multi-value__label {
		font-size: 17px;
		color: rgba(79, 78, 78, 0.6) !important;
	}
}

.select-sort.select-default {
	&__control {
		padding: 12px 10px;
		background-color: colors.$white !important;
		border-radius: 3px !important;
		box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1) !important;
	}

	&__value-container {
		padding: 0 5px 0 0 !important;
		font-size: 20px;
		color: rgba(79, 78, 78, 0.6) !important;

		@include mixins.media-w(breakpoints.$laptop) {
			font-size: 16px;
		}

		@include mixins.media-w(breakpoints.$tablet) {
			font-size: 14px;
		}
	}

	&__single-value {
		font-size: 20px;
		color: rgba(79, 78, 78, 0.6) !important;

		@include mixins.media-w(breakpoints.$laptop) {
			font-size: 16px;
		}

		@include mixins.media-w(breakpoints.$tablet) {
			font-size: 14px;
		}
	}

	&__placeholder {
		font-size: 20px;
		color: rgba(79, 78, 78, 0.6) !important;

		@include mixins.media-w(breakpoints.$laptop) {
			font-size: 16px;
		}

		@include mixins.media-w(breakpoints.$tablet) {
			font-size: 14px;
		}
	}

	&__indicator {
		background-image: url('../assets/images/select/arrow-down.svg');
	}

	&__menu {
		width: auto !important;
		min-width: 100% !important;
	}

	&__option {
		font-size: 16px !important;
		background-color: colors.$transparent !important;

		@include mixins.media-w(breakpoints.$tablet) {
			font-size: 14px !important;
		}
	}

	&__option--is-selected {
		background-color: #ddebff !important;
	}
}