@use '../../../../../styles/mixins.scss';
@use '../../../../../styles/breakpoints.scss';
@use '../../../../../styles/colors.scss';

.swiper {
	width: 100%;
	overflow: visible;

	@include mixins.media-w(breakpoints.$laptop-s) {
		overflow: hidden;
	}

	&>div {
		align-items: stretch;
	}
}

.slide {
	position: relative;
	height: auto;
	min-height: 450px;

	@include mixins.media-w(breakpoints.$laptop-l) {
		min-height: 420px;
	}
}

.link {
	display: block;
	width: 100%;
	height: 100%;
	padding: 130px 20px 40px;

	@include mixins.media-w(breakpoints.$laptop-s) {
		padding-top: 100px;
		padding-bottom: 20px;
	}
}

.cardImageWrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transition: box-shadow .4s;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: transparent;
		transition: background-color .4s;
		z-index: 1;
	}
}

.cardImage {
	height: 100%;
	object-position: center;
	transition: transform .6s;
}

.swiper .cardTitle {
	font-size: 32px;
	line-height: 100%;
	color: colors.$white;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 28px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 22px;
	}
}

.cardDescription {
	font-size: 20px;
	line-height: 120%;
	color: colors.$white;
	text-align: center;

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 18px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 16px;
	}
}

@include mixins.media-minw(breakpoints.$laptop) {
	.slide:hover .cardImageWrapper::before {
		background-color: rgba(0, 0, 0, 0.5);
	}

	.slide:hover .cardImageWrapper {
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	}

	.slide:hover .cardImage {
		transform: scale(1.05);
	}
}