@use '../../../../../../styles/family.scss';
@use '../../../../../../styles/mixins.scss';
@use '../../../../../../styles/breakpoints.scss';
@use '../../../../../../styles/z-index.scss';
@use '../../../../../../styles/colors.scss';

.row {
	position: relative;
	z-index: z-index.$idx-header;

	display: flex;
	justify-content: flex-end;

	padding-bottom: 5px;

	@include mixins.media-w(breakpoints.$laptop-s) {
		padding-bottom: 0;
	}
}

.centerPhone {
	letter-spacing: 0.01em;

	color: colors.$blue;

	font-size: 25px;
	line-height: 120%;

	@include mixins.fonts(family.$montserrat);
}