@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';

.header {
	width: 100%;
	display: flex;
	align-items: flex-start;
	padding-bottom: 12px;

	@include mixins.media-w(breakpoints.$tablet) {
		padding-bottom: 6px;
	}
}

.headerAmountDays {
	margin-right: 10px;

	@include mixins.media-w(breakpoints.$tablet) {
		position: relative;
	}
}

.headerTitle {
	font-size: 29px;
	line-height: 120%;
	font-weight: 600;
	color: #004275;
	padding-bottom: 8px;

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 24px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 18px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 15px;
		padding-bottom: 0px;
	}
}

.headerSubtitle {
	font-size: 14px;
	line-height: 110%;
	color: rgba(79, 78, 78, 0.8);

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 12px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 10px;
		padding-left: 10px;
	}
}

.body {
	width: 100%;
	display: flex;
	border: 1px solid rgba(0, 66, 117, 0.8);
}

.cardLeft{ 
	width: 33%;
	display: flex;
	position: relative;
	margin-right: 10px;

	@include mixins.media-w(breakpoints.$laptop-s) {
		width: 36%;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		width: 100%;
		margin-right: 0;
	}
}

.cardRight {
	width: 67%;

	@include mixins.media-w(breakpoints.$laptop-s) {
		width: 64%;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		width: 100%;
	}
}
