@use '../../../../styles/mixins.scss';
@use '../../../../styles/breakpoints.scss';
@use '../../../../styles/family.scss';

.component {
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
	width: 100%;

	&:last-child {
		margin-bottom: 0;
	}
}

.container {
	width: 100%;
	display: flex;

	@include mixins.media-w(breakpoints.$tablet) {
		flex-direction: column-reverse;
	}
}

.title {
	width: 67%;
	margin-left: auto;
	@include mixins.fonts(family.$source-sans-pro);
	font-size: 32px;
	line-height: 120%;
	color: #004275;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 2px;

	@include mixins.media-w(breakpoints.$laptop-s) {
		width: 64%;
		font-size: 24px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 20px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		width: 100%;
		font-size: 16px;
		padding-bottom: 10px;
	}

	@include mixins.media-w(breakpoints.$tablet-s) {
		font-size: 14px;
	}
}

.left {
	width: 33%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 10px;

	@include mixins.media-w(breakpoints.$laptop-s) {
		width: 36%;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		width: 100%;
		margin-right: 0;
	}
}

.right {
	width: 67%;

	@include mixins.media-w(breakpoints.$laptop-s) {
		width: 64%;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		width: 100%;
	}
}