@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';
@use '../../../styles/colors.scss';

.component {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 70%;
	padding: 22px 30px 28px 0;

	@include mixins.media-w(breakpoints.$laptop-s) {
		padding-right: 40px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		width: 100%;
		padding: 20px 40px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		padding: 10px 0px 20px 20px;
	}
}

.wrapper {
	width: 100%;

	@include mixins.media-w(breakpoints.$tablet) {
		padding-right: 20px;
	}
}

.wrapper .title {
	font-size: 32px;
	line-height: 120%;
	font-weight: 600;
	color: colors.$white;
	padding-bottom: 20px;

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 28px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 24px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 22px;
		padding-bottom: 12px;
	}
}
