@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';

.logo {
	@include mixins.fluidMaxSize(250);

	@include mixins.media-w(breakpoints.$tablet) {
		max-width: 100%;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		margin-bottom: 8px;
	}

	img {

		@include mixins.media-w(breakpoints.$tablet) {
			@include mixins.fluidMaxSize(140);
			margin: 0 auto;	
		}
	}
}
