@use '../../styles/mixins.scss';
@use '../../styles/breakpoints.scss';

.component {
	position: relative;
}

.swiper {
	width: 100%;

	&>div {
		align-items: stretch;
	}
}

.swiperPadding {
	padding: 0 10px 12px;
}

.slide {
	height: auto;
}

.button {
	display: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 100%;
	z-index: 20;

	@include mixins.media-w(breakpoints.$laptop-l) {
		width: 30px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		display: block;
	}

	@include mixins.media-w(breakpoints.$tablet-s) {
		width: 20px;
	}

	&.prev {
		left: 10px;

		&::before {
			transform: translate(-50%, -50%) rotate(-180deg);
		}
	}

	&.next {
		right: 10px;
	}

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 25%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 10px;
		height: 22px;
		@include mixins.bg-cover;

		@include mixins.media-w(breakpoints.$tablet) {
			width: 7px;
			height: 12px;
		}
	}
}

.arrowWhite {
	background-image: url('../../assets/images/swiper/arrow-white.svg');
}

.arrowGray {
	background-image: url('../../assets/images/swiper/arrow-gray.svg');
}
