@use '../../styles/mixins.scss';
@use '../../styles/breakpoints.scss';
@use '../../styles/colors.scss';

.component {
	display: flex;
	position: relative;
}

.full {
	width: 100%;
}

.half {
	width: 47%;

	@include mixins.media-w(breakpoints.$tablet) {
		width: 100%;
	}
}

.label {
	display: block;
	font-size: 17px;
	line-height: 120%;
	color: rgba(79, 78, 78, 0.6);
	cursor: pointer;
}

.labelLeft {
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}

.labelRight {
	justify-content: space-between;
	align-items: center;
}

.labelTop {
  flex-direction: column-reverse;
}

.labelBottom {
	flex-direction: column;
}

.textarea {
	border: 1px solid #000;
}