@use '../../../../../styles/mixins.scss';
@use '../../../../../styles/breakpoints.scss';
@use '../../../../../styles/family.scss';
@use '../../../../../styles/colors.scss';

.component {
	display: flex;
	flex-direction: column;

	width: 100%;
	margin-bottom: 5px;

	&:last-child {
		margin-bottom: 0;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		margin-bottom: 10px;
	}
}

.container {
	display: flex;

	width: 100%;

	@include mixins.media-w(breakpoints.$tablet) {
		flex-direction: column-reverse;
	}
}

.title {
	width: 67%;
	margin-left: auto;
	padding-bottom: 2px;

	text-align: center;
	text-transform: uppercase;

	color: colors.$blue;

	font-size: 32px;
	line-height: 120%;

	@include mixins.fonts(family.$source-sans-pro);

	@include mixins.media-w(breakpoints.$laptop-s) {
		width: 64%;

		font-size: 24px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 20px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		width: 100%;
		padding-bottom: 10px;

		font-size: 16px;
	}

	@include mixins.media-w(breakpoints.$tablet-s) {
		font-size: 14px;
	}
}

.left {
	display: flex;
	align-items: flex-start;
	flex-direction: column;

	width: 33%;
	margin-right: 10px;

	@include mixins.media-w(breakpoints.$laptop-s) {
		width: 36%;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		width: 100%;
		margin-right: 0;
	}
}

.right {
	width: 67%;

	@include mixins.media-w(breakpoints.$laptop-s) {
		width: 64%;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		width: 100%;
	}
}