@use '../../../../styles/colors.scss';
@use '../../../../styles/mixins.scss';
@use '../../../../styles/family.scss';
@use '../../../../styles/breakpoints.scss';

.component {
	margin-left: 80px;

	@include mixins.media-w(breakpoints.$laptop-l) {
		margin-left: 60px;
	}
	@include mixins.media-w(breakpoints.$laptop) {
		margin-left: 0;
		width: 100%;
		@include mixins.flex-center;
		flex-direction: column;
		padding-top: 30px;
		padding-bottom: 25px;
		border-bottom: 1px solid #546E90;

	}
}

.buttonFeedback {
	@include mixins.fonts(family.$source-sans-pro);
	font-size: 15px;
	line-height: 140%;
	letter-spacing: 0.05em;
	color: colors.$white;
	padding: 12px 30px;
	border: 2px solid colors.$white;

	@include mixins.media-w(breakpoints.$laptop-s) {
		padding: 10px 40px;
		font-size: 15px;
	}
}

.phoneFeedback {
	display: block;
	font-size: 20px;
	line-height: 100%;
	letter-spacing: 0.05em;
	color: colors.$white;
	margin-top: 30px;
	margin-bottom: 10px;
	text-align: right;

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 16px;
		margin-top: 20px;
	}
	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 20px;
		margin-top: 30px;
		margin-bottom: 28px;
	}
}

.mailFeedback {
	display: block;
	@include mixins.fonts(family.$source-sans-pro);
	font-size: 15px;
	line-height: 140%;
	letter-spacing: 0.05em;
	color: colors.$white;
	text-align: right;
}
