@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';

.component {
	font-size: 24px;
	line-height: 110%;
	font-weight: 500;
	color: #004275;
	padding-bottom: 12px;

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 22px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		width: 100%;
		font-size: 19px;
		font-weight: 600;
		text-align: center !important;
		padding-bottom: 20px;
	}
}
