@use '../../styles/mixins.scss';
@use '../../styles/breakpoints.scss';

.component {
	display: flex;
}

.select {
	width: auto;
	margin-right: 14px;
	
	@include mixins.media-w(breakpoints.$laptop) {
		margin-right: 10px; 
	}

	&:last-child {
		margin-right: 0; 

		@include mixins.media-w(breakpoints.$laptop) {
			margin-right: 10px; 
		}
	}
}

.sortCurrency {

	@include mixins.media-w(breakpoints.$laptop) {
		min-width: fit-content;
	}
}
