@use '../../../../styles/mixins.scss';
@use '../../../../styles/family.scss';
@use '../../../../styles/colors.scss';

.component {
	margin-right: 80px;
}

.logoText {
	display: block;
	width: 100%;
	@include mixins.fonts(family.$source-sans-pro, 600);
	font-size: 16px;
	line-height: 120%;
	text-align: center;
	letter-spacing: 0.25em;
	text-transform: uppercase;
	color: colors.$white;
	text-align: right;
	margin-top: 12px;
}

.socialRow {
	display: flex;
	justify-content: flex-end;
	margin-top: 80px;
}

.socialIcon {
	display: block;
	@include mixins.square-size(18);
	margin-right: 20px;

	&:last-child {
		margin-right: 0;
	}
}