@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';
@use '../../../styles/z-index.scss';
@use '../../../styles/colors.scss';

.component {
	display: flex;
	flex-direction: column-reverse;
}

.header {
	
}

.headerRow {
	background-color: colors.$white;
	padding: 10px 20px;
	transition: all .5s;

	@include mixins.media-w(breakpoints.$laptop){
		padding: 12px 20px;
	}
}

.fixed {
  position: fixed;
  top: -100%;
  left: 0;
  z-index: z-index.$idx-header;

  &.show {
    top: 0;
  }
}

.logo {
	@include mixins.media-w(breakpoints.$laptop-l) {
		@include mixins.fluidMaxSize(200);
	}

	@include mixins.media-w(breakpoints.$laptop) {
		position: relative;
		z-index: z-index.$idx-header;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		@include mixins.fluidMaxSize(125);
	}
}
