@use '../../styles/mixins.scss';
@use '../../styles/breakpoints.scss';
@use '../../styles/colors.scss';

.component {
	overflow-y: scroll;
	padding: 10px 10px 15px;
	background: colors.$white;
	border: 1px solid rgba(0, 66, 117, 0.3);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	scrollbar-color: #939191 #939191;
	scrollbar-width: 5px;

	@include mixins.media-w(breakpoints.$laptop) {
		padding: 6px 10px 10px;
	}

	@include mixins.media-minw(breakpoints.$tablet) {
		&::-webkit-scrollbar {
			width: 5px;
			background-color: #fff;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-color: #939191;
		}

		&::-webkit-scrollbar-track {
			border-radius: 10px;
			background-color: #fff;
		}
	}
}

.date {
	@include mixins.fluidMaxSize(230);
	max-width: 230px !important;
	min-width: 230px;
	max-height: 72px;

	@include mixins.media-w(breakpoints.$laptop) {
		max-width: 180px !important;
		min-width: 180px;
		max-height: 62px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		max-width: 140px !important;
		min-width: 140px;
		max-height: 53px;
	}
}

.routes {
	max-width: 365px !important;
	max-height: 156px;

	@include mixins.media-w(breakpoints.$laptop-s) {
		max-width: 420px !important;
		max-height: 128px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		max-height: 115px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		max-width: 260px !important;
		max-height: 92px;
	}
}

.text {
	display: inline-block;
	font-size: 18px;
	line-height: 110%;
	color: rgba(79, 78, 78, 0.8);
	border-bottom: 1px solid rgba(79, 78, 78, 0.8);
	margin-top: 8px;

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 15px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 12px;
		margin-top: 6px;
	}

	&:first-child {
		margin-top: 0;
	}
}