@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';
@use '../../../styles/colors.scss';

.component {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	height: 100%;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	min-height: 450px;

	@include mixins.media-w(breakpoints.$laptop-l) {
		min-height: 420px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		min-height: 405px;
	}
}

.imageWrapper {
	width: 100%;
	height: 230px;
}

.image {
	height: 100%;
}

.body {
	width: 100%;
	padding: 35px 40px 20px;

	@include mixins.media-w(breakpoints.$laptop-l) {
		padding: 30px 20px 15px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		padding: 20px 15px 15px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		padding: 20px 10px;
	}
}

.title {
	display: block;
	font-size: 19px;
	line-height: 110%;
	text-align: center;
	color: #004275;
	padding-bottom: 10px;
}

.subtitle {
	font-size: 12px;
	line-height: 110%;
	font-weight: 500;
	color: #4F4E4E;
}

.button {
	display: block;
	width: 100%;
	padding: 13px 6px;
	background-color: #004275;
	font-size: 13px;
	line-height: 110%;
	text-align: center;
	color: colors.$white;
	margin-top: auto;
}
