@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';
@use '../../../styles/colors.scss';

.text {
	font-size: 16px;
	line-height: 120%;
	color: rgba(79, 78, 78, 0.6);

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 14px;
	}
}

.darker {
	color: rgba(79, 78, 78, 0.8);
}

.priceWrapper {
	width: 100%;
	@include mixins.flex-spb;
}

.price {
	font-size: 36px;
	line-height: 120%;
	color: #FDBB11;

	@include mixins.media-w(breakpoints.$laptop-l) {
		font-size: 30px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 26px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 20px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		width: 100%;
		font-size: 36px;
		text-align: center;
	}
}

.discount {
	margin-left: 15px;

	@include mixins.media-w(breakpoints.$laptop) {
		margin-left: 5px;
	}
}

.discountText {

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 32px !important;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 26px !important;
	}
}

.discountPercentage {

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 20px !important;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 16px !important;
	}
}

.button {
	width: 100%;
	font-size: 17px;
	line-height: 120%;
	color: colors.$white;
	text-align: center;
	text-transform: uppercase;
	padding: 14px;
	background-color: colors.$btn-hover;
	margin-top: 12px;

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 16px;
		padding: 12px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 13px;
		padding: 16px;
	}
}
