@use '../../../../styles/mixins.scss';
@use '../../../../styles/breakpoints.scss';
@use '../../../../styles/z-index.scss';
@use '../../../../styles/colors.scss';

.component {
	@include mixins.media-w(breakpoints.$laptop) {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		z-index: z-index.$idx-navbar;
		background-color: colors.$white;
		padding: 60px 20px 40px;
		transition: left .4s;
	}

	&.active {
		left: 0;
	}
}

.menu {
	display: flex;
	align-items: center;
	margin-top: 14px;

	@include mixins.media-w(breakpoints.$laptop-l) {
		margin-top: 6px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		margin-top: 0;
		padding-top: 18px;
		padding-bottom: 36px;
		border-top: 1px solid rgba(79, 78, 78, 0.3);
		border-bottom: 1px solid rgba(79, 78, 78, 0.3);
	}
}

.item {
	margin-right: 26px;
	color: #004275;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-right: 0;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 14px;
		margin-right: 16px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		width: 100%;
		font-size: 22px;
		margin-top: 18px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 19px;
	}
}

.link {
	display: block;
	position: relative;
	padding-bottom: 2px;
	overflow-x: hidden;

	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: -110%;
		height: 1px;
		width: 100%;
		background-color: #4F4E4E;
		transition: left .3s;
	}

	@include mixins.media-minw(breakpoints.$laptop) {
		&:hover::before {
			left: 0;
		}
	}

	&.active::before {
		left: 0;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
}

.icon {
	display: block;
	width: 8px;
}
