@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';
@use '../../../styles/family.scss';

.wrapper {
	width: 100%;
	padding-bottom: 25px;

	@include mixins.media-w(breakpoints.$laptop-s) {
		padding-bottom: 35px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		padding-bottom: 20px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		padding-bottom: 10px;
	}

	&:last-child {
		padding-bottom: 0;
	}
}

.ul {
	width: 100%;
	columns: 2;
	column-gap: 30px;

	@include mixins.media-w(breakpoints.$tablet-s) {
		columns: 1;
		column-gap: 0;
	}
}

.title {
	width: 100%;
	@include mixins.fonts(family.$source-sans-pro);
	font-size: 46px;
	line-height: 110%;
	color: #004275;
	text-align: center;
	padding-bottom: 18px;

	@include mixins.media-w(breakpoints.$laptop-l) {
		font-size: 34px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 32px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 24px;
		padding-bottom: 5px;
	}
}

.titleSmall {
	font-size: 32px;

	@include mixins.media-w(breakpoints.$laptop-l) {
		font-size: 24px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 20px;
	}
}

.item {
	@include mixins.fonts(family.$source-sans-pro);
	font-size: 32px;
	line-height: 160%;
	color: rgba(79, 78, 78, 0.8);
	padding-left: 20px;
	position: relative;

	@include mixins.media-w(breakpoints.$laptop-l) {
		font-size: 26px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 24px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 20px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		line-height: 140%;
		padding-left: 10px;
	}

	&::before {
		content: '';
		position: absolute;
		top: 22px;
		left: 0;
		@include mixins.square-size(8);
		background-color: rgba(79, 78, 78, 0.8);
		border-radius: 50%;

		@include mixins.media-w(breakpoints.$laptop-s) {
			top: 16px;
		}

		@include mixins.media-w(breakpoints.$laptop) {
			top: 12px;
		}

		@include mixins.media-w(breakpoints.$tablet) {
			@include mixins.square-size(5);
		}
	}
}
