@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';

.component {

	@include mixins.media-w(breakpoints.$tablet) {
		padding-bottom: 0 !important;
	}
}

.container {
	position: relative;
}

.swiper {
	width: 100%;
	padding: 0 10px 12px;

	@include mixins.media-w(breakpoints.$tablet) {
		padding-left: 12px;
		padding-right: 12px;
	}

	&>div {
		align-items: stretch;
	}
}

.slide {
	height: auto;
}

.swiperArrow {
	display: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 100%;
	z-index: 20;

	@include mixins.media-w(breakpoints.$laptop-l) {
		width: 30px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		display: block;
	}

	@include mixins.media-w(breakpoints.$tablet-s) {
		width: 20px;
	}

	&.prev {
		left: 10px;

		@include mixins.media-w(breakpoints.$tablet) {
			left: 12px;
		}

		&::before {
			transform: translate(-50%, -50%) rotate(-180deg);
		}
	}

	&.next {
		right: 10px;

		@include mixins.media-w(breakpoints.$tablet) {
			right: 12px;
		}
	}

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 10px;
		height: 22px;
		background-image: url('../../../assets/images/swiper/arrow-white.svg');
		@include mixins.bg-cover;

		@include mixins.media-w(breakpoints.$tablet) {
			width: 7px;
			height: 12px;
		}
	}
}