@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';
@use '../../../styles/colors.scss';

.component {
	@include mixins.flex-center;
	flex-direction: column;
	min-width: 95px;
	min-height: 90px;
	padding: 10px 12px;
	margin-right: 10px;
	background-color: colors.$blue;

	@include mixins.media-w(breakpoints.$laptop) {
		min-width: 80px;
		min-height: 80px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		min-width: 55px;
		min-height: 55px;
		padding: 8px;
	}
}

.days {
	font-size: 36px;
	line-height: 100%;
	font-weight: 600;
	color: colors.$white;

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 28px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 26px;
	}
}

.text {
	font-size: 20px;
	line-height: 100%;
	font-weight: 600;
	color: colors.$white;

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 16px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		line-height: 100%;
		font-weight: 600;
		color: colors.$white;
		font-size: 12px;
	}
}