@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';

.component {
	width: 100%;

	@include mixins.media-w(breakpoints.$laptop) {
		height: 500px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
	height: 400px;
	}
}

.img {
		
	@include mixins.media-w(breakpoints.$laptop) {
		height: 100%;
	}
}
