@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';

.component {
	padding-top: 42px;

	@include mixins.media-w(breakpoints.$laptop-l) {
		padding-bottom: 36px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		padding-bottom: 22px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		padding-bottom: 16px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		padding-bottom: 12px;
	}
}
