@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';
@use '../../../styles/family.scss';
@use '../../../styles/colors.scss';

.component {
	width: 100%;
}

.componentCustomYear {
	width: 100%;
	padding: 13px 0;
	background-color: colors.$blue;
	border-radius: 3px;
}

.select {
	@include mixins.fonts(family.$montserrat);
	font-size: 12px;
	line-height: 110%;
	color: colors.$white;
	background-color: colors.$blue;
	background-image: url('../icon/arrow-white.svg');
	background-repeat: no-repeat;
	background-position: right 0px top 50%;
	background-size: 8px auto;
	padding-right: 12px;
}

.componentCustomMonth {
	@include mixins.flex-center;
	padding-top: 5px;
}

.buttonArrow {
	@include mixins.flex-center;
	width: 16px;
	padding: 5px;

	&.prev {
		transform: rotate(-180deg);
	}
}

.monthText {
	font-size: 13px;
	line-height: 110%;
	color: colors.$blue;
	padding: 0 10px;
}