@use '../../styles/mixins.scss';
@use '../../styles/breakpoints.scss';
@use '../../styles/family.scss';
@use '../../styles/colors.scss';

@keyframes scaleInDatePicker {
	0% {
		opacity: 0;
		transform: scale(0.9) translate3d(0px, 0px, 0px) !important;
	}

	50% {
		opacity: 0.3;
	}

	100% {
		opacity: 1;
		transform: scale(1) translate3d(0px, 0px, 0px) !important;
	}
}

.component {
	display: flex;
	position: relative;
}

.datepicker {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		@include mixins.bg-cover;
	}
}

.input {
	width: 100%;
	@include mixins.fonts(family.$source-sans-pro, 300);
	line-height: 120%;
	font-size: 16px;
	color: rgba(79, 78, 78, 0.6);
	cursor: pointer;

	&::placeholder {
		color: rgba(79, 78, 78, 0.6);
	}
}
