@use '../../../../../styles/mixins.scss';
@use '../../../../../styles/breakpoints.scss';
@use '../../../../../styles/z-index.scss';

.component {
	min-width: 300px;

	@include mixins.media-w(breakpoints.$laptop-l) {
		min-width: 200px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		min-width: auto;
	}
}

.mobile {
	position: relative;

	@include mixins.media-w(breakpoints.$laptop) {
		z-index: z-index.$idx-header;
	}
}

