@use '../../../../styles/mixins.scss';
@use '../../../../styles/breakpoints.scss';
@use '../../../../styles/colors.scss';

.component {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.half {
	display: flex;
	justify-content: space-between;
	width: calc(50% + 84px);

	@include mixins.media-w(breakpoints.$laptop) {
		width: 100%;
		align-items: flex-start;
	}

	@include mixins.media-w(breakpoints.$tablet-s) {
		flex-direction: column-reverse;
	}
}

.pagination {
	margin-right: 10px;

	@include mixins.media-w(breakpoints.$tablet-s) {
		margin-right: 0;
	}
}

.amountWrapper {
	margin-left: 30px;

	@include mixins.media-w(breakpoints.$laptop) {
		margin-left: 20px;
	}
}

.showMore {
	font-size: 17px;
	line-height: 120%;
	color: colors.$btn-text;
	padding: 14px 22px;
	border-width: 1px;
	border-style: solid;
	border-color: colors.$btn-border;
	border-radius: 3px;
	background-color: colors.$transparent;

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 14px;
		padding: 9px 18px;
	}

	@include mixins.media-w(breakpoints.$tablet-s) {
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
	}

	@include mixins.media-minw(breakpoints.$laptop) {
		&:hover {
			background-color: colors.$btn-hover;
			color: colors.$white;
			border-color: colors.$transparent;
		}
	}
}
