@use '../../../../styles/mixins.scss';
@use '../../../../styles/breakpoints.scss';
@use '../../../../styles/colors.scss';

.component {
	width: 100%;
	display: flex;
	justify-content: space-between;

	@include mixins.media-w(breakpoints.$laptop) {
		flex-direction: column;
	}
}

.pagination {

	@include mixins.media-w(breakpoints.$laptop) {
		width: 100%;
		margin-bottom: 20px;
	}
}

.amountWrapper {
	margin-left: 30px;

	@include mixins.media-w(breakpoints.$tablet) {
		margin-left: 20px;
	}
}

.sortWrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	@include mixins.media-w(breakpoints.$laptop) {
		width: 100%;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}

.sortBy {
	margin-bottom: 20px;

	@include mixins.media-w(breakpoints.$laptop) {
		width: 70%;
		margin-bottom: 0;
	}
}

.showBy {
	
	@include mixins.media-w(breakpoints.$laptop) {
		justify-content: flex-end;
		width: 30%;
	}
}