@use '../../../../styles/mixins.scss';
@use '../../../../styles/breakpoints.scss';
@use '../../../../styles/colors.scss';

.component {
	padding-left: 20px;
	padding-right: 20px;
}

.container {

	@include mixins.media-w(breakpoints.$laptop) {
		flex-direction: column;
	}

	&.row {
		flex-direction: row;
	}
}

.pagination {

	@include mixins.media-w(breakpoints.$laptop) {
		width: 100%;
		margin-bottom: 20px;
	}

	&.mb0 {
		margin-bottom: 0;
	}
}

.sortWrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	@include mixins.media-w(breakpoints.$laptop) {
		width: 100%;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
	}
}

.sortBy {
	margin-bottom: 20px;

	@include mixins.media-w(breakpoints.$laptop) {
		width: 70%;
		margin-bottom: 0;
	}
}

.showBy {
	margin-bottom: 20px;

	@include mixins.media-w(breakpoints.$laptop) {
		justify-content: flex-end;
		width: 30%;
		margin-bottom: 0;
	}
}

.showMore {
	font-size: 17px;
	line-height: 120%;
	color: colors.$btn-text;
	padding: 14px 22px;
	border-width: 1px;
	border-style: solid;
	border-color: colors.$btn-border;
	border-radius: 3px;
	background-color: colors.$transparent;

	@include mixins.media-minw(breakpoints.$laptop) {
		&:hover {
			background-color: colors.$btn-hover;
			color: colors.$white;
			border-color: colors.$transparent;
		}
	}
}