@use '../../../../styles/mixins.scss';
@use '../../../../styles/breakpoints.scss';

.component {
	padding-left: 10px;
	padding-right: 10px;
}

.swiper {
	width: 100%;
	padding: 0 10px 10px;

	&>div {
		align-items: stretch;
	}
}

.slide {
	height: auto;
}
