@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';
@use '../../../styles/colors.scss';

.component {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	@include mixins.flex-center;
	min-width: 205px;
	min-height: 45px;
	padding: 10px 12px;
	background-color: #FDBB11;

	@include mixins.media-w(breakpoints.$laptop-l) {
		min-width: 180px;
	}
}

.title {
	font-size: 20px;
	line-height: 110%;
	text-align: center;
	color: colors.$white;
}
