@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';

.component {
	width: fit-content;
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;

	@include mixins.media-w(breakpoints.$tablet) {
		margin-bottom: 10px;
	}
}

.icon {
	display: block;
	width: 12px;
	margin-right: 15px;

	img {
		width: 100%;
	}
}

.text {
	font-size: 18px;
	line-height: 110%;
	font-weight: 500;
	color: rgba(79, 78, 78, 0.8);
	border-bottom: 1px solid rgba(79, 78, 78, 0.8);

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 16px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 12px;
	}
}

.arrow {
	display: block;
	width: 18px;
	margin-left: 8px;

	@include mixins.media-w(breakpoints.$laptop) {
		width: 14px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		width: 10px;
	}

	img {
		display: block;
	}
}
