@use '../../styles/mixins.scss';
@use '../../styles/breakpoints.scss';
@use '../../styles/colors.scss';

.component {
	padding: 50px 20px 40px 20px;
	background-color: rgba(0, 74, 118, 0.23);
	position: relative;
	z-index: 1;

	@include mixins.media-w(breakpoints.$laptop) {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		padding: 20px;
	}
}

.container {
	@include mixins.fluidMaxSize(1080);
	margin: 0 auto;
}

.container .title {
	font-size: 40px;
	line-height: 120%;
	font-weight: 500;
	color: colors.$blue;
	padding-bottom: 20px;
	text-align: center;

	@include mixins.media-w(breakpoints.$laptop-l) {
		font-size: 34px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 32px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		padding-bottom: 10px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 28px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 20px;
		padding-bottom: 5px;
	}
}

.form {
	width: 100%;
	max-width: 100%;
}