@use '../../../styles/mixins.scss';
@use '../../../styles/family.scss';
@use '../../../styles/colors.scss';
@use '../../../styles/breakpoints.scss';

.component {
	background-color: #004275;
	padding: 20px;
	transition: all .3s;
	color: colors.$white;

	&.remove {
		height: 0;
		padding: 0 20px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		padding: 8px 20px;
	}
}

.container {
	position: relative;
	padding: 0 30px;

	@include mixins.media-w(breakpoints.$tablet) {
		padding-left: 0;
		padding-right: 25px;
	}
}

.b {
	@include mixins.fonts(family.$source-sans-pro);
	font-size: 16px;

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 14px;
	}
}

.text {
	@include mixins.fluidMaxSize(490);
	margin: 0 auto;
	font-size: 14px;
	line-height: 120%;
	@include mixins.fonts(family.$montserrat);

	@include mixins.media-w(breakpoints.$tablet) {
		margin-left: 0;
	}
}

.button {
	@include mixins.square-size(12);
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	z-index: 1;

	@include mixins.media-w(breakpoints.$tablet) {
		top: 0;
		transform: translateY(0);
	}
}
