@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';
@use '../../../styles/family.scss';
@use '../../../styles/colors.scss';

.component {
	
}

.title {
	width: 100%;
	@include mixins.fonts(family.$source-sans-pro, 300);
	font-size: 36px;
	line-height: 120%;
	color: colors.$blue;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 24px;
	margin-bottom: 30px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	@include mixins.media-w(breakpoints.$laptop-l) {
		font-size: 30px;
		padding-bottom: 24px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 26px;
		padding-bottom: 18px;
		margin-bottom: 22px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 24px;
		font-weight: 400;
		padding-bottom: 12px;
		margin-bottom: 14px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 20px;
		font-weight: 400;
		padding-bottom: 8px;
	}
}

.tabsHeader {
	width: 100%;
	border-bottom: 0.3px solid rgba(79, 78, 78, 0.4);

	margin-bottom: 35px;

	@include mixins.media-w(breakpoints.$laptop) {
		margin-bottom: 20px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		margin-bottom: 10px;
		border-bottom: none;
		padding-left: 12px;
		padding-right: 12px;
	}
}

.tabsHeaderWrapper {
	display: flex;
	align-items: center;
	justify-content: space-around;
	@include mixins.fluidMaxSize(1370);
	margin: 0 auto;

	@include mixins.media-w(breakpoints.$laptop-s) {
		@include mixins.fluidMaxSize(1170);
	}

	@include mixins.media-w(breakpoints.$laptop) {
		@include mixins.fluidMaxSize(800);
	}

	@include mixins.media-w(breakpoints.$tablet) {
		justify-content: space-between;
	}
}

.tabsTitle {
	@include mixins.fonts(family.$source-sans-pro);
	font-size: 28px;
	line-height: 110%;
	color: rgba(0, 66, 117, 0.55);
	text-transform: none !important;
	margin-right: 40px;
	text-align: center;
	padding: 0 20px 12px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: colors.$transparent;

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 20px;
		margin-right: 20px;
		padding: 0 14px 8px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 15px;
		margin-right: 10px;
		padding: 0 8px 4px;
		border-bottom-width: 2px;
	}

	@include mixins.media-w(breakpoints.$tablet-s) {
		font-size: 13px;
		padding: 0 2px 2px;
	}

	&.active {
		border-bottom-color: rgba(79, 78, 78, 0.5);
	}

	&:last-child {
		margin-right: 0;
	}
}

.tabsSubtitle {
	@extend .tabsTitle;
	display: block;
	padding: 0;
}

.tabsBody {
	@include mixins.fluidMaxSize(1370);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}