@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';
@use '../../../styles/family.scss';
@use '../../../styles/colors.scss';

.component {
	width: 100%;
}

.tabsHeader {
	width: 100%;
	border-bottom: 0.3px solid rgba(79, 78, 78, 0.4);

	margin-bottom: 35px;

	@include mixins.media-w(breakpoints.$laptop) {
		margin-bottom: 20px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		margin-bottom: 10px;
		border-bottom: none;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.tabsHeaderWrapper {
	display: flex;
	align-items: center;
	justify-content: space-around;
	@include mixins.fluidMaxSize(1370);
	margin: 0 auto;

	@include mixins.media-w(breakpoints.$laptop-s) {
		@include mixins.fluidMaxSize(1170);
	}

	@include mixins.media-w(breakpoints.$laptop) {
		@include mixins.fluidMaxSize(800);
	}

	@include mixins.media-w(breakpoints.$tablet) {
		justify-content: space-between;
	}
}

.tabsTitle {
	@include mixins.fonts(family.$source-sans-pro);
	font-size: 28px;
	line-height: 110%;
	color: rgba(0, 66, 117, 0.55);
	text-transform: none !important;
	margin-right: 40px;
	text-align: center;
	padding: 0 20px 12px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: colors.$transparent;

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 20px;
		margin-right: 20px;
		padding: 0 14px 8px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 15px;
		margin-right: 10px;
		padding: 0 8px 4px;
		border-bottom-width: 2px;
	}

	@include mixins.media-w(breakpoints.$tablet-s) {
		font-size: 13px;
		padding: 0 2px 2px;
	}

	&.active {
		border-bottom-color: rgba(79, 78, 78, 0.5);
	}

	&:last-child {
		margin-right: 0;
	}
}

.tabsSubtitle {
	display: block;
	font-weight: 700;
	font-size: 20px;
	line-height: 110%;
	color: colors.$blue;
	text-align: center;
	padding-top: 4px;

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 16px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 15px;
	}

	@include mixins.media-w(breakpoints.$tablet-s) {
		font-size: 13px;
		padding-top: 8px;
	}
}

.tabsBody {
	@include mixins.fluidMaxSize(1370);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}