@use '../../../../styles/mixins.scss';
@use '../../../../styles/breakpoints.scss';

.component {
	border-top: 1px solid rgba(79, 78, 78, 0.4);
	padding-left: 10px;
	padding-right: 10px;
}

.pt {
	padding-top: 22px;

	@include mixins.media-w(breakpoints.$laptop-l) {
		padding-top: 18px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		padding-top: 8px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		padding-top: 4px;
	}
}

.container {
	position: relative;
}

.swiper {
	width: 100%;
	padding: 0 10px 12px;

	&>div {
		align-items: stretch;
	}
}

.slide {
	height: auto;
}

.swiperArrow {
	display: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 100%;
	z-index: 20;

	@include mixins.media-w(breakpoints.$laptop-l) {
		width: 30px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		display: block;
	}

	@include mixins.media-w(breakpoints.$tablet-s) {
		width: 20px;
	}

	&.prev {
		left: 10px;

		&::before {
			transform: translate(-50%, -50%) rotate(-180deg);
		}
	}

	&.next {
		right: 10px;
	}

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 62%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 10px;
		height: 22px;
		background-image: url('../../../../assets/images/swiper/arrow-right-gray.svg');
		@include mixins.bg-cover;

		@include mixins.media-w(breakpoints.$tablet) {
			top: 30%;
			background-image: url('../../../../assets/images/swiper/arrow-white.svg');
		}

		@include mixins.media-w(breakpoints.$tablet) {
			width: 7px;
			height: 12px;
		}
	}
}