@use '../../../../styles/mixins.scss';
@use '../../../../styles/breakpoints.scss';


.component {

}

.imageWrapper {
	width: 100%;
	height: 645px;

	@include mixins.media-w(breakpoints.$laptop-l) {
		height: 550px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		height: 400px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		height: 250px;
	}

	img {
		height: 100%;
	}
}