@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';
@use '../../../styles/family.scss';

.content {
	padding: 0px 12px;
}

.subtitle {
	@include mixins.fonts(family.$source-sans-pro);
	font-size: 25px;
	line-height: 110%;
	text-align: justify;
	color: rgba(79, 78, 78, 0.8);
	text-indent: 3rem;
	padding-bottom: 32px;

	@include mixins.media-w(breakpoints.$laptop-l) {
		font-size: 20px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 18px;
		padding-bottom: 26px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 16px;
		padding-bottom: 18px;
		text-indent: 1rem;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 14px;
		text-indent: 0;
	}
}
