@use '../../../../styles/mixins.scss';
@use '../../../../styles/breakpoints.scss';
@use '../../../../styles/colors.scss';

.component {
	padding-bottom: 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	@include mixins.media-w(breakpoints.$laptop-l) {
		padding-left: 20px;
		padding-right: 20px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		padding-bottom: 0px;
	}
}

.title {
	display: block;
	font-size: 24px;
	line-height: 120%;
	color: colors.$blue;
	padding-bottom: 4px;

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 18px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 15px;
	}

	@include mixins.media-w(breakpoints.$tablet-s) {
		font-size: 12px;
	}
}

.datepicker {
	@include mixins.fluidMaxSize(230);

	@include mixins.media-w(breakpoints.$laptop) {
		@include mixins.fluidMaxSize(208);
	}

	@include mixins.media-w(breakpoints.$tablet) {
		@include mixins.fluidMaxSize(140);
	}
}

.datepickerWrapper {
	display: flex !important;
	align-items: center;

	&::before {
		display: none;
	}

	&::after {
		content: '';
		display: block;
		min-width: 18px;
		height: 20px;
		@include mixins.bg-cover;
		background-image: url('../icons/datepicker.svg');
		margin-left: 15px;

		@include mixins.media-w(breakpoints.$tablet) {
			margin-left: 10px;
			min-width: 10px;
			height: 10px;
		}
	}
}

.inputDatepicker {
	font-family: "Montserrat" !important;
	font-weight: 500 !important;
	font-size: 23px;
	line-height: 110% !important;
	color: rgba(79, 78, 78, 0.8);
	border-bottom: 1px solid rgba(79, 78, 78, 0.8) !important;

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 20px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 14px;
	}
}