@use '../../../../../../styles/family.scss';
@use '../../../../../../styles/mixins.scss';
@use '../../../../../../styles/breakpoints.scss';

.row {
	display: flex;
	justify-content: flex-end;

	@include mixins.media-w(breakpoints.$laptop) {
		display: none;
	}
}

.bottom {
	@include mixins.media-w(breakpoints.$laptop-s) {
		align-items: flex-end
	}
}

.bottomIcon {
	margin-left: 6px;

	&:first-child {
		margin-left: 0;
	}

	@include mixins.square-size(16);

	@include mixins.media-w(breakpoints.$laptop-l) {
		margin-left: 10px;
	}
}

.bottomText {
	display: block;

	margin-left: 6px;

	color: rgb(79 78 78 / 40%);

	font-size: 17px;
	line-height: 120%;

	@include mixins.media-w(breakpoints.$laptop-l) {
		font-size: 14px;
	}
}