@import './styles/global.scss';
@import './styles/select.scss';
@import './styles/datepicker.scss';
@import './styles/family.scss';
@import './styles/mixins.scss';
@import './styles/breakpoints.scss';
@import './styles/colors.scss';

#root {
	overflow-x: hidden;
}

.pt-section {
	padding-top: 32px;

	@include media-w($laptop-l) {
		padding-top: 25px;
	}

	@include media-w($laptop-s) {
		padding-top: 22px;
	}

	@include media-w($laptop) {
		padding-top: 16px;
	}

	@include media-w($tablet) {
		padding-top: 12px;
	}
}

.pb-section {
	padding-bottom: 42px;

	@include media-w($laptop-l) {
		padding-bottom: 36px;
	}

	@include media-w($laptop-s) {
		padding-bottom: 22px;
	}

	@include media-w($laptop) {
		padding-bottom: 18px;
	}

	@include media-w($tablet) {
		padding-bottom: 12px;
	}
}

.pb-section-with-swiper {
	padding-bottom: 30px;

	@include media-w($laptop-l) {
		padding-bottom: 24px;
	}

	@include media-w($laptop-s) {
		padding-bottom: 10px;
	}

	@include media-w($laptop) {
		padding-bottom: 4px;
	}

	@include media-w($tablet) {
		padding-bottom: 0px;
	}
}

.pb-s-section {
	padding-bottom: 20px;

	@include media-w($laptop-s) {
		padding-bottom: 12px;
	}

	@include media-w($laptop) {
		padding-bottom: 6px;
	}

	@include media-w($tablet) {
		padding-bottom: 0px;
	}
}

.title {
	display: block;
	@include fonts($source-sans-pro);
	font-size: 36px;
	line-height: 120%;
	text-align: center;
	color: #004275;
	text-transform: uppercase;
	padding-bottom: 22px;

	@include media-w($laptop-l) {
		font-size: 32px;
		padding-bottom: 18px;
	}

	@include media-w($laptop-s) {
		font-size: 28px;
		padding-bottom: 14px;
	}

	@include media-w($laptop) {
		font-size: 24px;
		padding-bottom: 12px;
	}

	@include media-w($tablet) {
		font-size: 22px;
		padding-bottom: 10px;
	}
}

.title-secondary {
	width: 100%;
	@include fonts($source-sans-pro, 300);
	font-size: 36px;
	line-height: 120%;
	color: #546E90;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 32px;

	@include media-w($laptop-l) {
		font-size: 30px;
		padding-bottom: 24px;
	}

	@include media-w($laptop-s) {
		font-size: 26px;
		padding-bottom: 18px;
	}

	@include media-w($laptop) {
		font-size: 24px;
		font-weight: 400;
		padding-bottom: 12px;
	}
}

.button {
	display: inline-block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	font-size: 17px;
	line-height: 120%;
	text-align: center;
	text-transform: uppercase;
	color: $btn-text;
	padding: 18px 50px;
	background-color: $transparent;
	border: 1px solid $btn-border;
	border-radius: 3px;
	white-space: nowrap;
	transition: all .3s;

	@include media-w($laptop-s) {
		margin-top: 10px;
	}

	@include media-w($tablet) {
		font-size: 13px;
		padding: 15px 20px;
		margin-top: 0px;
		width: 100%;
		border-radius: 0;
		background-color: $btn-hover;
		border: none;
		color: $white;
	}

	@include media-minw($laptop) {
		&:hover {
			background-color: $btn-hover;
			color: $white;
		}
	}
}
