@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';
@use '../../../styles/colors.scss';

.component {
	display: flex;
	align-items: center;

	@include mixins.media-w(breakpoints.$tablet) {
		flex-wrap: wrap;
	}
}

.item {
	display: inline-block;

	line-height: 110%;

	&::after {
		display: inline-block;

		margin: 0 4px;

		content: "/";

		color: rgb(79 78 78 / 60%);

		font-size: 15px;
		line-height: 120%;

		@include mixins.media-w(breakpoints.$tablet) {
			font-size: 12px;
		}
	}

	&:last-child::after {
		display: none;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		line-height: 90%;
	}
}

.link {
	color: rgb(79 78 78 / 60%);

	font-size: 15px;
	line-height: 110%;

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 12px;
		line-height: 90%;
	}
}

.current {
	color: rgb(79 78 78 / 60%);

	font-size: 15px;
	line-height: 110%;

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 12px;
	}
}
