@use '../../../../styles/mixins.scss';
@use '../../../../styles/breakpoints.scss';
@use '../../../../styles/family.scss';
@use '../../../../styles/colors.scss';

.component {
	width: 100%;
	display: flex;
	margin-bottom: 32px;

	@include mixins.media-w(breakpoints.$laptop-s) {
		margin-bottom: 24px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		flex-direction: column !important;
		border-bottom: 0.3px solid rgba(79, 78, 78, 0.4);
	}

	&:last-child {
		margin-bottom: 0;
	}

	&.photoLeft {
		flex-direction: row;
		align-items: flex-start;
		margin-right: auto;
	}

	&.photoRight {
		flex-direction: row-reverse;
		margin-left: auto;
		margin-right: 0;
	}
}

.component {

	&.photoLeft .left {
		margin-right: 8px;
	}

	&.photoRight .left {
		margin-left: 8px;
	}
}

.left {
	@include mixins.media-w(breakpoints.$tablet) {
		margin: 0 !important;
		height: 250px;
	}

	img {

		@include mixins.media-w(breakpoints.$tablet) {
			height: 100%;
		}
	}

	&.large {
		@include mixins.fluidMaxSize(960);
		min-width: 720px;

		@include mixins.media-w(breakpoints.$laptop-l) {
			min-width: 670px;
		}

		@include mixins.media-w(breakpoints.$laptop-s) {
			min-width: 550px;
		}

		@include mixins.media-w(breakpoints.$laptop) {
			min-width: 450px;
		}

		@include mixins.media-w(breakpoints.$tablet) {
			min-width: 100%;
		}
	}

	&.small {
		@include mixins.fluidMaxSize(670);

		@include mixins.media-w(breakpoints.$laptop-l) {
			max-width: 550px;
		}

		@include mixins.media-w(breakpoints.$laptop-s) {
			max-width: 500px;
		}

		@include mixins.media-w(breakpoints.$laptop) {
			max-width: 400px;
		}

		@include mixins.media-w(breakpoints.$tablet) {
			max-width: 100%;
		}
	}
}

.iframe {
	width: 100%;
	height: 100%;
}

.right {
	width: 100%;
	padding-right: 40px;
	padding-left: 40px;

	@include mixins.media-w(breakpoints.$laptop-s) {
		padding-right: 20px;
		padding-left: 20px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		padding-top: 12px;
		padding-bottom: 12px;
	}
}

.title {
	@include mixins.fonts(family.$source-sans-pro, 300);
	font-size: 36px;
	line-height: 110%;
	color: #004275;
	padding-bottom: 26px;

	@include mixins.media-w(breakpoints.$laptop-l) {
		font-size: 28px;
		padding-bottom: 20px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 24px;
		padding-bottom: 14px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 18px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 24px;
		width: 100%;
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
	}
}

.description {
	@include mixins.fonts(family.$source-sans-pro);
	width: 100%;
	font-size: 25px;
	line-height: 120%;
	text-align: justify;
	color: rgba(79, 78, 78, 0.8);
	text-indent: 3rem;

	@include mixins.media-w(breakpoints.$laptop-l) {
		font-size: 20px;
		text-indent: 2rem;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 18px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 16px;
		text-indent: 1rem;
	}
}

.button {
	display: inline-block;
	font-size: 17px;
	line-height: 100%;
	background-color: colors.$transparent;
	color: colors.$btn-text;
	border: 1px solid colors.$btn-border;
	border-radius: 3px;
	padding: 20px 45px;
	margin-top: 30px;

	@include mixins.media-minw(breakpoints.$laptop) {
		&:hover {
			color: colors.$white;
			background-color: colors.$btn-hover;
			border: 1px solid colors.$transparent;
		}
	}
}