@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';
@use '../../../styles/colors.scss';

.shipWrapper {
	width: 100%;
	padding-bottom: 6px;

	@include mixins.media-w(breakpoints.$tablet-s) {
		padding-bottom: 10px;
	}
}

.shipName {
	display: block;
	width: 100%;
	font-size: 24px;
	line-height: 110%;
	color: colors.$white;
	text-align: center;

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 20px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 16px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 14px;
	}

	@include mixins.media-w(breakpoints.$tablet-s) {
		font-size: 12px;
		font-weight: 400;
	}
}

.contentWrapper {
	padding-left: 20px;
	padding-right: 20px;

	@include mixins.media-w(breakpoints.$laptop-l) {
		@include mixins.fluidMaxSize(800);
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		@include mixins.fluidMaxSize(700);
	}

	@include mixins.media-w(breakpoints.$tablet-s) {
		padding-left: 0;
		padding-right: 0;
	}
}

.text {
	font-weight: 600;
	font-size: 36px;
	line-height: 120%;
	color: #FDBB11;
	text-transform: lowercase;
	text-align: center;

	@include mixins.media-w(breakpoints.$laptop-l) {
		font-size: 30px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 24px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 20px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 16px;
	}
}

.uppercase {
	text-transform: uppercase;

	@include mixins.media-w(breakpoints.$tablet-s) {
		font-size: 20px;
	}
}

.button {
	font-weight: 500;
	font-size: 16px;
	line-height: 120%;
	color: #004275;
	padding: 20px 30px;
	background: #FDBB11;
	box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
	border-radius: 3px;

	@include mixins.media-w(breakpoints.$laptop-s) {
		padding: 14px 25px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 14px;
		padding-left: 16px;
		padding-right: 16px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 13px;
		padding-top: 12px;
		padding-bottom: 12px;
	}

	@include mixins.media-w(breakpoints.$tablet-s) {
		padding-left: 40px;
		padding-right: 40px;
		margin-top: 14px;
	}
}

.timer {

	@include mixins.media-w(breakpoints.$tablet-s) {
		padding-bottom: 12px;
	}
}

.timerNumber {
	font-size: 45px;
	line-height: 90%;
	color: colors.$white;
	padding-bottom: 0;

	@include mixins.media-w(breakpoints.$laptop-l) {
		font-size: 36px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 30px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 24px;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		font-size: 20px;
	}

	@include mixins.media-w(breakpoints.$tablet-s) {
		font-size: 32px;
		padding-bottom: 4px;
	}
}
