@use '../../../styles/mixins.scss';
@use '../../../styles/colors.scss';
@use '../../../styles/family.scss';

.component {
	background-color: red;
}

.input[type=checkbox]+.label {
	padding-left: 18px;
}

.input[type=checkbox]+.label:before {
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	@include mixins.square-size(14);
	border-radius: 0px;
	background-color: colors.$white;
	border: 1px solid #004275;
	;
}

.input[type=checkbox]+.label::after {
	bottom: 3px;
	left: 2px;
	width: 16px;
	height: 13px;
	@include mixins.bg-cover;
	background-image: url('../icons/checked-blue.svg');
	opacity: 0;
	transform: scale(0);
	transition: all .2s;
}

.input[type=checkbox]:checked+.label::after {
	opacity: 1;
	transform: scale(1);
}

.label {
	@include mixins.fonts(family.$source-sans-pro);
	font-size: 11px;
	line-height: 110%;
	color: rgba(79, 78, 78, 0.8);
}