@use '../../../../../styles/mixins.scss';
@use '../../../../../styles/breakpoints.scss';

.component {
	position: relative;
	@include mixins.fluidMaxSize(440);
	height: auto;

	@include mixins.media-w(breakpoints.$laptop-s) {
		@include mixins.fluidMaxSize(400);
	}

	@include mixins.media-w(breakpoints.$laptop) {
		@include mixins.fluidMaxSize(550);
		height: 330px;
		margin: 0 auto;
	}

	@include mixins.media-w(breakpoints.$tablet) {
		max-width: 100%;
		height: 250px;
	}
}

.swiper {
	width: 100%;
	height: 100%;

	&>div {
		align-items: stretch;
	}
}

.image {
	display: block;
	width: 100%;
	height: 100%;

	img {
		display: block;
		height: 100%;
		object-position: center;
	}
}

.swiperArrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 100%;
	z-index: 20;

	@include mixins.media-w(breakpoints.$laptop) {
		width: 30px;
	}

	&.prev {
		left: 0;

		&::before {
			left: 50%;
			transform: translateY(-50%) rotate(-180deg);
		}
	}

	&.next {
		right: 0;

		&::before {
			right: 50%;
			transform: translateX(50%);
		}
	}

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 13px;
		height: 26px;
		@include mixins.bg-cover;
		background-image: url('./images/arrow-slider.svg');

		@include mixins.media-w(breakpoints.$tablet) {
			width: 8px;
			height: 16px;
		}
	}
}