@use '../../../../../styles/family.scss';
@use '../../../../../styles/mixins.scss';
@use '../../../../../styles/breakpoints.scss';

.row {
	display: flex;
	justify-content: flex-end;

	@include mixins.media-w(breakpoints.$laptop) {
		display: none;
	}
}

.topLanguageWrapper {
	display: flex;
}

.topSearch {
	@include mixins.square-size(18);
	margin-right: 20px;
}

.topLanguage {
	font-size: 13px;
	line-height: 120%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: rgba(79, 78, 78, 0.6);
	margin-right: 14px;

	&:last-child {
		margin-right: 0;
	}
}