@use '../../../../styles/colors.scss';
@use '../../../../styles/mixins.scss';
@use '../../../../styles/family.scss';

.component {
	margin-right: 150px;
}

.buttonFeedback {
	font-size: 15px;
	line-height: 140%;
	letter-spacing: 0.05em;
	color: colors.$white;
	padding: 12px 30px;
	border: 2px solid colors.$white;
}

.phoneFeedback {
	display: block;
	font-size: 20px;
	line-height: 100%;
	letter-spacing: 0.05em;
	color: colors.$white;
	margin-top: 30px;
	margin-bottom: 10px;
	text-align: right;
}

.mailFeedback {
	display: block;
	@include mixins.fonts(family.$source-sans-pro);
	font-size: 15px;
	line-height: 140%;
	letter-spacing: 0.05em;
	color: colors.$white;
	text-align: right;
}
