@use '../../../styles/mixins.scss';
@use '../../../styles/breakpoints.scss';
@use '../../../styles/colors.scss';

.component {
	@include mixins.fluidMaxSize(900);
	margin: 0 auto;

	@include mixins.media-w(breakpoints.$laptop-l) {
		@include mixins.fluidMaxSize(730);
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		@include mixins.fluidMaxSize(630);
	}

	@include mixins.media-w(breakpoints.$laptop) {
		@include mixins.fluidMaxSize(550);
	}
}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.item {
	margin-right: 26px;
	color: #004275;

	@include mixins.media-w(breakpoints.$laptop-s) {
		margin-right: 16px;
	}

	&:last-child {
		margin-right: 0;
	}
}

.link {
	display: block;
	position: relative;
	padding-bottom: 2px;
	overflow-x: hidden;
	font-size: 24px;

	@include mixins.media-w(breakpoints.$laptop-l) {
		font-size: 20px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 16px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		font-size: 14px;
	}

	@include mixins.media-minw(breakpoints.$laptop) {
		&:hover::before {
			left: 0;
		}
	}

	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: -110%;
		height: 1px;
		width: 100%;
		background-color: #4F4E4E;
		transition: left .3s;
	}

	&.active::before {
		left: 0;

		@include mixins.media-w(breakpoints.$laptop) {
			left: -110%;
		}
	}
}

.booknow {
	font-size: 15px;
	line-height: 140%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	padding: 10px 15px;
	border: 2px solid #004A76;

	@include mixins.media-w(breakpoints.$laptop-l) {
		font-size: 14px;
	}

	@include mixins.media-w(breakpoints.$laptop-s) {
		font-size: 12px;
	}

	@include mixins.media-w(breakpoints.$laptop) {
		padding: 8px 10px;
	}

	&::before {
		display: none;
	}
}