@use "../../../../../styles/family.scss";
@use "../../../../../styles/mixins.scss";
@use "../../../../../styles/breakpoints.scss";
@use "../../../../../styles/colors.scss";
@use "../../../../../styles/z-index.scss";

.component {
	display: flex;
	align-items: center;
	flex-direction: column;

	@include mixins.media-w(breakpoints.$laptop) {
		position: relative;
		z-index: z-index.$idx-header;
	}
}

.burger {
	position: relative;

	display: none;

	width: 15px;
	height: 12px;

	cursor: pointer;

	font-size: 0;

	@include mixins.media-w(breakpoints.$laptop) {
		display: block;
	}
}

.line {
	position: absolute;
	right: 0;
	left: 0;

	width: 100%;
	height: 1px;

	transition: 0.3s;

	background-color: colors.$blue;

	&:nth-child(1) {
		top: 0;
	}

	&:nth-child(2) {
		top: 5px;
	}

	&:nth-child(3) {
		top: 11px;
		left: 0;
	}
}

.burger.active {
	span {
		top: calc(50% - 1.5px);

		box-shadow: none;

		&:nth-child(1) {
			transform: rotate(45deg);
		}

		&:nth-child(2) {
			transform: rotate(-45deg);
		}

		&:nth-child(3) {
			transform: rotate(-45deg);

			opacity: 0;
		}
	}
}