@use '../../styles/mixins.scss';
@use '../../styles/colors.scss';

.component {
	display: flex;
	position: relative;
}

.input {
	background-color: #000;
	color: #fff;
}

.label {
	display: block;
	font-size: 17px;
	line-height: 120%;
	color: rgba(79, 78, 78, 0.6);
	cursor: pointer;
}

.labelLeft {
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}

.labelRight {
	justify-content: space-between;
	align-items: center;
}

.labelTop {
  flex-direction: column-reverse;
}

.labelBottom {
	flex-direction: column;
}

.input[type=checkbox] {
	display: none;
	visibility: hidden;
	opacity: 0;
}

.input[type=checkbox]+.label:before,
.input[type=checkbox]+.label::after {
	content: "";
	position: absolute;
}

